---
layout: documentation
page_title_show: true
title: "Artoo Example - neuro"
page_title: "Example: neuro"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-neurosky/tree/master/examples' target='_blank'>View In Repo</a>"
---

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :neurosky, :adaptor => :neurosky, :port => '/dev/rfcomm0'
        device :neurosky, :driver => :neurosky, :interval => 0.5
          
        work do
          puts "Scanning..."
        end

