---
title: Ardrone with Artoo.io
author: The Hybrid Group
page_title: Ardrone Multi
page_subtitle: "You can find this example <a href='https://github.com/hybridgroup/artoo/blob/master/examples/ardrone_multi.rb' target='blanck' class='repository'>here.</a>"
layout: page
---

.documentation
  %section.intro
    %h2 Example
    :markdown
          :::ruby
          require 'artoo/robot'

          class DroneRobot < Artoo::Robot
            connection :drone, :adaptor => :ardrone
            device :drone, :driver => :ardrone

            #api :host => '127.0.0.1', :port => '8080'

            work do
              drone.start

              after(10.seconds){
                drone.take_off
                drone.hover
              }
              after(15.seconds){
                drone.turn_right(0.3)
              }
              after(25.seconds){
                drone.hover
              }
              after(30.seconds){
                drone.land
              }
            end
          end