---
title: Sphero with Artoo.io
author: The Hybrid Group
page_title: Conway Sphero Foreman
page_subtitle: "You can find this example <a href='https://github.com/hybridgroup/artoo/blob/master/examples/conway_sphero.procfile' target='blanck' class='repository'>here.</a>"
layout: page
---

.documentation
  %section.intro
    %h2 Example
    :markdown
          :::bash
          Sphero-BWY: bash ../bin/sphero_linux_socat.sh 4560 Sphero-BWY
          Sphero-GOB: bash ../bin/sphero_linux_socat.sh 4561 Sphero-GOB
          Sphero-PGB: bash ../bin/sphero_linux_socat.sh 4562 Sphero-PGB
          Sphero-PYG: bash ../bin/sphero_linux_socat.sh 4563 Sphero-PYG
          Sphero-WRW: bash ../bin/sphero_linux_socat.sh 4564 Sphero-WRW
          Sphero-WWW: bash ../bin/sphero_linux_socat.sh 4565 Sphero-WWW
          Sphero-YBW: bash ../bin/sphero_linux_socat.sh 4566 Sphero-YBW
          