---
page_title_show: true
layout: page
title: Artoo Example - hello
page_title: "Example"
author: The Hybrid Group
description: A Artoo code example
---
%h2 hello
.example
  :markdown
        :::ruby
        require 'artoo'

        connection :loop

        name "Johnny"

        work do
          every(3.seconds) do
            puts "Hello. My name is \1name}."
          end

          after(10.seconds) do
            puts "Wow."
          end
        end

