---
layout: page
title: Artoo Example - hello_messages
page_title: "Example: hello_messages"
author: The Hybrid Group
description: A Artoo code example
---

.example
  :markdown
        :::ruby
        require 'artoo/robot'

        class GreeterRobot < Artoo::Robot
          work do
            every(5.seconds) do
              say 'Hola'
            end
          end

          def say(greeting)
            friend_name = "Number \1rand(5)}"
            puts "Saying '\1greeting}' to \1friend_name}"
            Artoo::Master.robot(friend_name).hello(greeting, current_instance)
          end
        end

        class MessageRobot < Artoo::Robot
          def hello(greeting, sender)
            puts "'\1sender.name}' said '\1greeting}' to \1name}"
          end
        end

        robots = []
        5.times do |i|
          robots << MessageRobot.new(:name => "Number \1i}")
        end

        robots << GreeterRobot.new(:name => "Greeter")

        Artoo::Robot.work!(robots)

