---
page_title_show: true
layout: page
title: Artoo Example - hello_multiple
page_title: "Example"
author: The Hybrid Group
description: A Artoo code example
---
%h2 hello_multiple
.example
  :markdown
        :::ruby
        require 'artoo/robot'

        class HelloRobot < Artoo::Robot
        	connection :loop
          
        	work do
        	  every(3.seconds) do
        	    puts "Hello from \1name}"
        	  end
        	  after(10.seconds) do
        	  	puts "\1name} is alive!" if name == 'Number 5'
        	  end
        	end
        end

        robots = []
        5.times do |i|
        	robots << HelloRobot.new(:name => "Number \1i}")
        end

        HelloRobot.work!(robots)

