---
page_title_show: true
layout: page
title: Artoo Example - hello_modular
page_title: "Example"
author: The Hybrid Group
description: A Artoo code example
---
%h2 hello_modular
.example
  :markdown
        :::ruby
        require 'artoo/robot'

        class HelloRobot < Artoo::Robot
        	connection :loop
          
        	work do
        	  every(3.seconds) do
        	     puts "hello"
        	  end
        	  after(10.seconds) do
        	  	puts "wow"
        	  end
        	end
        end

        HelloRobot.work!
