---
page_title_show: true
layout: page
title: Artoo Example - roomba
page_title: "Example: roomba"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "You can find this example <a href='https://github.com/hybridgroup/artoo/blob/master/examples/roomba.rb' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :roomba, :adaptor => :roomba, :port => '/dev/ttyUSB0'
        device :roomba, :driver => :roomba, :connection => :roomba
          
        work do
          roomba.safe_mode
          roomba.nudge_left
          roomba.nudge_right
          roomba.nudge_right
          roomba.nudge_left
        end

