---
page_title_show: true
layout: page
title: Artoo Example - sphero_messages
page_title: "Example: sphero_messages"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "You can find this example <a href='https://github.com/hybridgroup/artoo/blob/master/examples/sphero_messages.rb' target='blank' class='repository'>here.</a>"
---

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :sphero, :adaptor => :sphero, :port => '127.0.0.1:4560'
        device :sphero, :driver => :sphero

        def contact(*args)
          @contacts ||= 0
          @contacts += 1
          puts "Contact \#{@contacts}"
        end

        work do
          on sphero, :collision => :contact

          every(3.seconds) do
            puts "Rolling..."
            sphero.roll 90, rand(360)
          end
        end

