---
page_title_show: true
layout: page
title: Artoo Example - sphero_firmata
page_title: "Example"
author: The Hybrid Group
description: A Artoo code example
---
%h2 sphero_firmata
.example
  :markdown
        :::ruby
        require 'artoo'

        connection :sphero, :adaptor => :sphero, :port => '/dev/tty.Sphero-BRG-RN-SPP'
        device :sphero, :driver => :sphero, :connection => :sphero

        connection :arduino, :adaptor => :firmata, :port => '/dev/cu.usbserial-A700636n'
        device :led, :driver => :led, :connection => :arduino, :pin => 13

        work do
          every 3.seconds do
            sphero.roll 60, rand(360)
          end

          every 1.second do
            led.toggle
          end
        end

