---
title: Wiichuck with Artoo.io
author: The Hybrid Group
page_title: Wiichuck
page_subtitle: "You can find this example <a href='https://github.com/hybridgroup/artoo/blob/master/examples/wiichuck.rb' target='blanck' class='repository'>here.</a>"
layout: page
---

.documentation
  %section.intro
    %h2 Example
    :markdown
          :::ruby
          require 'artoo'

          connection :arduino, :adaptor => :firmata, :port => "8023"
          device :wiichuck, :driver => :wiichuck, :connection => :arduino, :interval => 0.1

          work do
            on wiichuck, :c_button => proc { puts "c button pressed!" }
            on wiichuck, :z_button => proc { puts "z button pressed!" }
            on wiichuck, :joystick => proc { |\*value|
              puts "joystick x:  \#{value[1][:x]}, y: \#{value[1][:y]}"
            }
          end