---
page_title_show: true
layout: page
title: Artoo Example - wiichuck
page_title: "Example"
author: The Hybrid Group
description: A Artoo code example
---
%h2 wiichuck
.example
  :markdown
        :::ruby
        require 'artoo'

        connection :arduino, :adaptor => :firmata, :port => "8023"
        device :wiichuck, :driver => :wiichuck, :connection => :arduino, :interval => 0.1

        work do
          on wiichuck, :c_button => proc { puts "c button pressed!" }
          on wiichuck, :z_button => proc { puts "z button pressed!" }
          on wiichuck, :joystick => proc { |*value|
            puts "joystick x: \1value[1][:x]}, y: \1value[1][:y]}"
          }
        end

