
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td blinkm
      %td.links= link_to 'Code', '/documentation/examples/i2c/rb/blinkm'
      %td.links
    %tr
      %td compass
      %td.links= link_to 'Code', '/documentation/examples/i2c/rb/compass'
      %td.links
