
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td leap
      %td.links= link_to 'Code', '/documentation/examples/leapmotion/rb/leap'
      %td.links
    %tr
      %td leap_gesture
      %td.links= link_to 'Code', '/documentation/examples/leapmotion/rb/leap_gesture'
      %td.links
    %tr
      %td leap_hands
      %td.links= link_to 'Code', '/documentation/examples/leapmotion/rb/leap_hands'
      %td.links
