
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td eeg
      %td.links= link_to 'Code', '/documentation/examples/neurosky/rb/eeg'
      %td.links
    %tr
      %td neuro
      %td.links= link_to 'Code', '/documentation/examples/neurosky/rb/neuro'
      %td.links
