
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td roomba
      %td.links= link_to 'Code', '/documentation/examples/roomba/rb/roomba'
      %td.links
