body
  background-color: $blue
  background-image: url('../images/bg-artoo.png')
  background-repeat: no-repeat
  background-position: top

a
  &, &:visited
    color: #4DA7E0
pre
  @include medium-screen-pre
