---
layout: documentation
page_title_show: true
title: "Artoo Example - leap_gesture"
page_title: "Example: leap_gesture"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-leapmotion/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :leapmotion, :adaptor => :leapmotion, :port => '127.0.0.1:6437'
        device :leapmotion, :driver => :leapmotion
          
        work do
          on leapmotion, :open => :on_open
          on leapmotion, :gesture => :on_gesture
          on leapmotion, :close => :on_close
        end

        def on_open(*args)
          puts args
        end

        def on_gesture(*args)
          puts args[1]
        end

        def on_close(*args)
          puts args
        end

