@import 'barebones';
@import 'coderay';

$red: #cc3300;
$blue: #ebfdff;

body {
  background-color: $blue;
  background-image: url('../images/bg-artoo.png');
  background-repeat: no-repeat;
  background-position: top;
}

pre {
  @media only screen and (max-width: 767px) {
    white-space: pre;
    overflow: scroll;
    word-wrap: normal;
  }
}

header {
  height: 66px;
  padding-top: 10px;

  #logo {
    font-family: "Russo One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $red;
    font-size: 56;
  }

  .logo, .subtitle, .menu, #logo, h1 {
    line-height: 66px;
    vertical-align: middle; 
    height: 66px;
    margin: 0;
  }

  .logo {
    width: 155px;
    float: left;
  }

  .subtitle {
    float: left;
    padding-top: 4px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #505252;
  }

  .menu {
    float: right;
    padding-top: 4px;
    padding-left: 25px;
    width: 450px;
    text-align: center;
    .item {
      font-size: 15px;
      font-weight: bold;
      margin: 10px;
      padding: 8px 14px;
      border-radius: 0;
      &:hover {
        color: $red;
      }
      &:active {
        color: $red;
      }
    }

    .active {
      color: $red;
    }
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #373737;
  padding-top: 35px;
  line-height: 54px;
  font-size: 43px;
  width: 100%;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  color: #373737;
  line-height: 50px;
  font-size: 24px;
}

.container {
  width: 964px;
  min-height: 100%;
  position: relative;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 30px;
  position: absolute;
}

#main {
 padding-bottom: 50px;

 iframe {
   width: 600;
   height: 400px;

   &:not(:last-child) {
     margin-bottom: 20px;
   }

   @media only screen and (max-width: 767px) {
     width: 300px;
     height: 169px;
   }

   @media only screen and (min-width: 480px) and (max-width: 767px) {
     width: 420px;
     height: 236px;
   }
  }

  .content {
    padding-top: 22px;
    width: 70%;

    h1 {
      color: #bc2a1b;
    }

    h2 {
      color: #bc2a1b;
    }

  } 

  .aside.right {
    width: 30%;
    float: right;
    padding-top: 0px;
    text-align: right;

    @media only screen and (min-width: 480px) and (max-width: 767px) {
      width: 100%;
    }
  }

  section:not(:last-child) {
    margin-bottom: 20px;
  }

}
