---
page_title_show: true
title: Artoo - ARDrone Video Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Ardrone Video
page_subtitle_docs: <a href='https://github.com/hybridgroup/artoo-ardrone' class='repository'>Repository</a>
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true

ardrone_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#ardrone li:nth-child(3)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/ardrone-video.jpg", class: "display"
  .info_intro
    %p
      Allows user to receive in-flight video data from an ARDrone. Video data from the ARDrone is returned from either the front-facing, or the bottom-facing cameras.
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  %p
    Communication with the ARDrone's video interface takes place using a WiFi connection. The ARDrone is a WiFi access point, so it normally can be the only device you connect to, without some additional effort to reconfigure the drone itself to put it into infrastructure mode.

  :markdown
        :::ruby
        require 'artoo'
        connection :videodrone, :adaptor => :ardrone_video, :port => '192.168.1.1:5555'
        device :video, :driver => :ardrone_video, :connection => :videodrone
        
%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example of receiving video data from an ARDrone.
  :markdown
        :::ruby
        require 'artoo'

        connection :navigation, :adaptor => :ardrone_navigation, :port => '192.168.1.1:5554'
        device :nav, :driver => :ardrone_navigation, :connection => :navigation

        work do
          on video, :frame => :v_frame
        end

        def v_frame(*data)
          @count ||= 0
          @count += 1
          puts "Frame #" + @count
          puts data[1].size + " bytes"
        end

%section.public-methods
  .commands-api#Events
    = partial "/documentation/drivers/partials/ardrone/events_video"

%section.compatability.hardware#compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
