---
title: Artoo - ARDrone Navigation Driver
author: The Hybrid Group
page_title: ARDrone Navigation
page_subtitle: Driver
layout: page
---
.documentation
  %section.intro
    =image_tag "/images/ardrone-navigation.jpg", class: "display"
    %p
      Allows user to receive in-flight navgation data from an ARDrone. Navigation data includes such information as the ARDrone's current pitch and yaw, along with many other data elements.

    %h2 How to establish a connection and setup the driver
    %p
      Communication with the ARDrone's navigation data interface takes place using a WiFi connection. The ARDrone is a WiFi access point, so it normally can be the only device you connect to, without some additional effort to reconfigure the drone itself to put it into infrastructure mode.

    :markdown
          :::ruby
          require 'artoo'
          connection :navigation, :adaptor => :ardrone_navigation, :port => '192.168.1.1:5554'
          device :nav, :driver => :ardrone_navigation, :connection => :navigation

  %section.public-methods
    %h2 Events
    We're working on documentation for the ARDrone's navigation events. Stay tuned.

  %section.example
    %h2 Example of receiving navigation data from an ARDrone.
    :markdown
          :::ruby
          require 'artoo'

          connection :navigation, :adaptor => :ardrone_navigation, :port => '192.168.1.1:5554'
          device :nav, :driver => :ardrone_navigation, :connection => :navigation

          work do
            on nav, :navdata => :nav_update
          end

          def nav_update(*data)
            p data[1].inspect
          end

  %section.compatability.hardware
    %h2 Works with:
    .devices
      = partial "documentation/partials/ardrone"
