---
page_title_show: true
title: Artoo - BlinkM Driver
author: The Hybrid Group
page_title: BlinkM
page_subtitle: Driver
layout: documentation

arduino_platform: true
beaglebone_platform: true
digispark_platform: true
raspberry_platform: true
---

%section.intro
  =image_tag "/images/devices/blinkm.jpg", class: "display"
  %p
    Allows user to control BlinkM RGB LED via i2c interface.

%section.how-to
  %h2 How to establish a connection and setup the driver
  %h3 For Arduino:
  :markdown
        :::ruby
        require 'artoo'
        connection :arduino, :adaptor => :firmata, :port => '/dev/ttyACM0'
        device :blink_m, :driver => :blink_m, :connection => :arduino

%section.public-events
  %h2 Commands:
  %table.commands 
    %tr 
      %th Command (param)
      %th Description
    %tr 
      %td.command rgb(red=0, green=0, blue=0) 
      %td.param  
        %p 
          Sets the color of the BlinkM RGB LED to the specified combination of RGB color provided (red, green and blue values should be between 
          %span 0
          and 
          %span 255
          ).
        %h5 Params
        %span (red=0, green=0, blue=0) → nil
        %h5 Returns 
        %span nil
    %tr 
      %td.command fade(red=0, green=0, blue=0) 
      %td.param  
        %p 
          Fades the color of the BlinkM RGB LED to the specified combination of RGB color provided (red, green and blue values should be between 
          %span 0
          and 
          %span 255
          ).
        %h5 Params
        %span (red=0, green=0, blue=0) → nil
        %h5 Returns 
        %span nil
    %tr 
      %td.command firmware_version 
      %td.param  
        %p Returns an sring describing the I2C firmware version being used.
        %h5 Params
        %span no params
        %h5 Returns 
        %span String
    %tr 
      %td.command color 
      %td.param  
        %p 
          Returns an array containing the RGB values for the current color (all integer between 
          %span 0 
          and 
          %span 255
          ).
        %h5 Params
        %span no params
        %h5 Returns 
        %span integer


%section.how-to
  %h2 How to use
  %h3 Example using a BlinkM.
  :markdown
        :::ruby
        require 'artoo'

        connection :arduino, :adaptor => :firmata, :port => '/dev/ttyACM0'
        device :blink_m, :driver => :blink_m

        work do
          every 1.second do
            unless @on
              blink_m.rgb(0xff, 0xff, 0xff)
              @on = true
            else
              blink_m.rgb(0, 0, 0)
              @on = false
            end
          end
        end

%section.circuit
  %h2 Circuit and Schematic
  %p Coming soon...

%section.compatability.hardware
  %h2 Works with:
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
