---
page_title_show: true
title: Artoo - BlinkM Driver
author: The Hybrid Group
page_title: BlinkM
page_subtitle: Driver
layout: documentation

arduino_platform: true
beaglebone_platform: true
digispark_platform: true
raspberry_platform: true
---

%section.intro
  =image_tag "/images/devices/blinkm.jpg", class: "display"
  %p
    Allows user to control BlinkM RGB LED via i2c interface.

%section.how-to
  %h2 How to establish a connection and setup the driver
  %h3 For Arduino:
  :markdown
        :::ruby
        require 'artoo'
        connection :arduino, :adaptor => :firmata, :port => '/dev/ttyACM0'
        device :blink_m, :driver => :blink_m, :connection => :arduino

%section.public-events
  .commands_api
    = partial "/documentation/drivers/partials/i2c/commands_blinkM"

%section.how-to
  %h2 How to use
  %h3 Example using a BlinkM.
  :markdown
        :::ruby
        require 'artoo'

        connection :arduino, :adaptor => :firmata, :port => '/dev/ttyACM0'
        device :blink_m, :driver => :blink_m

        work do
          every 1.second do
            unless @on
              blink_m.rgb(0xff, 0xff, 0xff)
              @on = true
            else
              blink_m.rgb(0, 0, 0)
              @on = false
            end
          end
        end

%section.circuit
  %h2 Circuit and Schematic
  %p Coming soon...

%section.compatability.hardware
  %h2 Works with:
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
