---
page_title_show: true
title: Artoo - Crazyflie Flight Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Crazyflie Flight
page_subtitle_docs: <a href='https://github.com/hybridgroup/artoo-crazyflie' class='repository'>Repository</a>
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true

crazyflie_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#crazyflie li:nth-child(1)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/crazyflie-driver.jpg", class: "display"
  .info_intro
    %p Allows user to send flight control commands to a Crazyflie micro-quadcopter. Flight control commands are those used to tell the Crazyflie to take off, land, and or any number of other autonomous flight manuvers.
  .clear
%section.how_to#HowToConnect
  %h2 How To Connect
  %p Communication with the Crazyflie's flight control interface takes place using a 2.4GHz radio connection. The Crazyflie is controlled from your computer using a Crazyradio, which is a custom USB 2.4GHz radio device. 
  :markdown
        :::ruby
        require 'artoo'
        connection :crazyflie, :adaptor => :crazyflie
        device :drone, :driver => :crazyflie, :connection => :crazyflie, :interval => 0.1


%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example of controlling a Crazyflie.
  :markdown
        :::ruby
        require 'artoo'

        connection :crazyflie, :adaptor => :crazyflie
        device :drone, :driver => :crazyflie, :connection => :crazyflie, :interval => 0.1

        work do
          drone.forward(0)
          drone.set_thrust_on
          after(1.seconds) {drone.stop}
        end

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/crazyflie/commands_flight"
  .commands-api#Events
    = partial "/documentation/drivers/partials/crazyflie/events_flight"


%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
