---
page_title_show: true
title: Artoo - Generic Joystick Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Generic Joystick
page_subtitle_docs: <a href='https://github.com/hybridgroup/artoo-joystick' class='repository'>Repository</a>
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true

joystick_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#joystick li:nth-child(1)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/joystick.jpg", class: "display"
  .info_intro
    %p Allows user to interact with Artoo devices using any joystick or game controller that is compatible with   SDL.
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::ruby
        require 'artoo'
        connection :joystick, :adaptor => :joystick
        device :controller, :driver => :joystick, :connection => :joystick, :interval => 0.1

%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example receiving button events from a generic joystick.
  :markdown
        :::ruby
        require 'artoo'

        connection :joystick, :adaptor => :joystick
        device :joystick, :driver => :joystick, :connection => :joystick, :interval => 0.1

        work do
          on joystick, :joystick => proc { |caller, value|
            puts 'joystick ' + value[:s].to_s, value[:x], value[:y]
          }
          on joystick, :button => proc { |*value|
            puts 'button ' + value[1]
          }
        end

%section.public-events
  .commands-api#Events
    = partial "/documentation/drivers/partials/joystick/events_joystick"


%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
