---
page_title_show: true
title: Artoo - Keyboard Driver
author: The Hybrid Group
page_title: Keyboard 
page_subtitle: Driver
layout: documentation
subnav_driver: true

keyboard_platform: true
---
%section.intro
  =image_tag "/images/devices/keyboard.jpg", class: "display"
  .info_intro
    %p The Artoo adaptor for keyboard input.
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  %h3 For Arduino:
  :markdown
        :::ruby
        require 'artoo'

        connection :keyboard, adaptor: :keyboard
        device :keyboard, driver: :keyboard, connection: :keyboard
        ...

%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example using a Key.
  :markdown
        :::ruby
        require 'artoo'

        connection :keyboard, adaptor: :keyboard
        device :keyboard, driver: :keyboard, connection: :keyboard

        work do
          on keyboard, :key => :keypress
        end

        def keypress(sender, key)
          puts key
        end

%section.public-methods
  .commands_api#Events
    = partial "/documentation/drivers/partials/keyboard/events"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
