---
page_title_show: true
title: Artoo - Leap Motion Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Leap Motion
page_subtitle_docs: <a href='https://github.com/hybridgroup/artoo-leapmotion' class='repository'>Repository</a>
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true

leapmotion_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#others li:nth-child(2)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");
  
%section.intro
  =image_tag "/images/devices/leap_motion.jpg", class: "display"
  .info_intro
    %p Allows user to interact with Artoo devices using a Leap Motion controller. The Leap Motion uses its built in cameras to track the user's hand motions, and translations those to events that Artoo can use to trigger  actions or control hardware.
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::ruby
        require 'artoo'
        connection :leapmotion, :adaptor => :leapmotion, :port => '127.0.0.1:6437'
        device :leapmotion, :connection => :leapmotion, :driver => :leapmotion

%section.how-to#HowToUse
  %h2 How To Use
  %h3 How to use events and call them on your drivers
  %p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
  :markdown
        :::ruby
        on leapmotion, :hand => proc { |sender, hand| puts hand.inspect }
  %h3 Example receiving hand motion events from a Leap Motion.
  :markdown
        :::ruby
        require 'artoo'

        connection :leapmotion, :adaptor => :leapmotion, :port => '127.0.0.1:6437'
        device :leapmotion, :connection => :leapmotion, :driver => :leapmotion

        work do
          on leapmotion, :hand => :wave
        end

        def wave(sender, hand)
          puts hand.inspect
        end

%section.public-methods
  .commands-api#Events
    = partial "/documentation/drivers/partials/leapmotion/events"


%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
