---
page_title_show: true
title: Artoo - LED Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: LED
page_subtitle_docs: <a href='https://github.com/hybridgroup/artoo-gpio' class='repository'>Repository</a>
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true

arduino_platform: true
beaglebone_platform: true
digispark_platform: true
raspberry_platform: true
spark_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#gpio li:nth-child(4)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/LED.jpg", class: "display"
  .info_intro
    %p  Allows user to interact with LEDs through digital output and PWM (Pulse Width Modulation)
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  %h3 For Arduino:
  :markdown
        :::ruby
        require 'artoo'
        connection :arduino, :adaptor => :firmata, :port => '127.0.0.1:8023'
        device :led, :driver => :led, :pin => 13

  %h3 For Digispark:
  :markdown
        :::ruby
        require 'artoo'
        connection :digispark, :adaptor => :littlewire, :vendor => 0x1781, :product => 0x0c9f
        device :led, :driver => :led, :pin => 13


%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example using a button to turn a LED on and off.
  :markdown
        :::ruby
        require 'artoo'

        #connection :arduino, :adaptor => :firmata, :port => '/dev/tty*'
        connection :arduino, :adaptor => :firmata, :port => '127.0.0.1:8023'
        device :led, :driver => :led, :pin => 13

        work do
          every 1.second do
            led.on? ? led.off : led.on
          end
        end

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_led"

%section.circuit#Circuit
  %h2 Circuit 
  .description-circuit
    %p 
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/led_bb.png", :alt => ""}/ 
  .clear
  
%section.compatability.hardware#Compatability
  %h2 Compatibility
  %p 
    %b Important Note:
    You need to install
    = link_to "pi-blaster", "https://github.com/sarfata/pi-blaster", target: :blank
    in the 
    %b raspberry-pi, 
    this project enables PWM in the GPIO pins .
  =# TODO: Update platform list at the top of the page.
  .devices
    = partial "documentation/partials/devices_platforms"

