---
title: Placeholder
author: The Hybrid Group
layout: page
---
%section.intro
  %h1 LED
  %p
    =image_tag "http://placehold.it/350x250", target: "_blank"
  %p
    Allows user to interact with LEDs through digital output and PWM (Pulse Width Modulation)

  %h2 Circuit and Schematic
  =link_to "http://arduino.cc/en/Tutorial/Blink", "http://arduino.cc/en/Tutorial/Blink"

  %h2 How to stablish a connection and setup the driver
  %h3 For Arduino:
  :markdown
        :::ruby
        require 'artoo'
        connection :firmata, :adaptor => :firmata, :port => '127.0.0.1:8023'
        device :led, :driver => :led, :pin => 13

  %h3 For Digispark:
  :markdown
        :::ruby
        require 'artoo'
        connection :littlewire, :adaptor => :littlewire, :port => '127.0.0.1:8023'
        device :led, :driver => :led, :pin => 13

%section.public-methods
  %h2 Public instance methods:

  %h3 on → true | nil
  %p
    Turns LED on.

  %h3 off → true | nil
  %p
    Turns LED off.

  %h3 on? → true | false
  %p
    Returns true if LED is on, otherwise returns false.

  %h3 off? → true | false
  %p
    Returns true if LED is off, otherwise returns false.

  %h3 toggle(brightness_int) → true | nil
  %p
    Sets brightness of the led to the specified brightness value passed to toggle(brightness) using PWM,
    brightness can be any integer value between 0 and 255.
%section.example
  %h2 Example using a button to turn a LED on and off.
  :markdown
        :::ruby
        require 'artoo'

        #connection :firmata, :adaptor => :firmata, :port => '/dev/tty*'
        connection :firmata, :adaptor => :firmata, :port => '127.0.0.1:8023'
        device :led, :driver => :led, :pin => 13

        work do
          every 1.second do
            led.on? ? led.off : led.on
          end
        end
%section.compatability
  %h2 Works with:
  %ul
    %li= link_to "Arduino", "../platforms/arduino"
    %li= link_to "Digispark", "../platforms/digispark" 
