---
page_title_show: true
title: Artoo - Makey Button Driver
author: The Hybrid Group
page_title: Makey Button
page_subtitle: Driver
layout: documentation

arduino_platform: true
---
%section.intro
  = image_tag "/images/devices/makey-button.jpg", class: "display"
  %p Simple interface that makes it possible to register clicks through physical input.

%section.how_to
  %h2 How to establish a connection and setup the driver 
  %h3 For Arduino:
  :markdown
        :::ruby
        coming soon

%section.how-to
  %h2 How to use
  :markdown
        :::ruby
        coming soon

%section.public-methods
  .commands_api
    = partial "/documentation/drivers/partials/gpio/commands_makey_button"
  .commands_api
    = partial "/documentation/drivers/partials/gpio/events_makey_button"
  




%section.compatability.hardware
  %h2 Works with:
  =# TODO: Update platform list at the top of the page.
  .devices
    = partial "documentation/partials/devices_platforms"
