---
page_title_show: true
title: Artoo - Makey Button Driver
author: The Hybrid Group
page_title: Makey Button
page_subtitle: Driver
layout: documentation

---
%section.intro
  = image_tag "/images/devices/makey-button.jpg", class: "display"
  %p ...
%section.how_to
  %h2 How to establish a connection and setup the driver
  %h3 For Arduino:
  :markdown
        :::ruby
        ...

%section.public-methods
  %h2 Commands:
  %dl.methods 
    %dt ..
    %dd ..

%section.public-events
  %h2 Events:

  %dl.methods
    %dt ..
    %dd ..

%section.how-to
  %h2 How to use
  %h3 Example
  :markdown
        :::ruby
        ...

%section.circuit
  %h2 Circuit and Schematic
  %p ..

%section.compatibility.hardware
  %h2 Works with:
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
