---
page_title_show: true
title: Artoo - Neurosky Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Neurosky Mindwave
page_subtitle_docs: <a href='https://github.com/hybridgroup/artoo-neurosky' class='repository'>Repository</a>
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true

neurosky_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#others li:nth-child(3)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  = image_tag "/images/devices/neurosky.jpg", class: "display"
  .info_intro
    %p The MindWave headset turns your computer into a brain activity monitor. The headset safely measures brainwave signals and monitors the attention levels of individuals as they interact with math, memory and pattern recognition applications.
  .clear
%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::ruby
        require 'artoo'

        connection :neurosky, :adaptor => :neurosky, :port => '/dev/rfcomm0'
        device :neurosky, :driver => :neurosky, :interval => 0.1

        def handle_eeg(sender, data)
          puts data
        end
        ...

%section.how-to#HowToUse
  %h2 How To Use
  %h3 This small program use the Neurosky with the eeg.
  :markdown
        :::ruby
        require 'artoo'

        connection :neurosky, :adaptor => :neurosky, :port => '/dev/rfcomm0'
        device :neurosky, :driver => :neurosky, :interval => 0.1

        def handle_eeg(sender, data)
          puts data
        end

        work do
          puts "Scanning..."
          on neurosky, :eeg => :handle_eeg
        end


%section.public-methods
  .commands-api#Commands
    %h1 Commands
    %p no commands
  .commands-api#Events
    = partial "/documentation/drivers/partials/neurosky/events_neurosky"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"



