---
page_title_show: true
title: Artoo - Pebble Driver
author: The Hybrid Group
page_title: Pebble
page_subtitle: Driver
layout: documentation
subnav_driver: true
active_menu_docs: true

pebble_platform: true
---
%section.intro
  =image_tag "/images/devices/pebble.jpg", class: "display"
  .info_intro
    %p Allows user to interact with Artoo devices using a Pebble smart watch.
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::ruby
        require 'artoo'
        connection :pebble, :adaptor => :pebble
        device :watch, :driver => :pebble

%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example of receiving events from Pebble smart watch.
  :markdown
        :::ruby
        require 'artoo'

        connection :pebble, :adaptor => :pebble
        device     :watch,  :driver  => :pebble, :name => 'pebble'

        api :host => '0.0.0.0', :port => '8080'

        name 'pebble'

        def button_push(*data)
          unless data[1].nil?
            p "#{data[1]} button pushed"
          end
        end

        work do
          on pebble, :button => :button_push
        end

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/pebble/commands"
  .commands-api#Events
    = partial "/documentation/drivers/partials/pebble/events"



%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
