---
page_title_show: true
title: Artoo - Pebble Driver
author: The Hybrid Group
page_title: Pebble
page_subtitle: Driver
layout: documentation

pebble_platform: true
---
%section.intro
  =image_tag "/images/devices/pebble.jpg", class: "display"
  %p Allows user to interact with Artoo devices using a Pebble smart watch.

%section.how-to
  %h2 How to establish a connection and setup the driver
  :markdown
        :::ruby
        require 'artoo'
        connection :pebble, :adaptor => :pebble
        device :watch, :driver => :pebble

%section.how-to
  %h2 How to use
  %h3 Example communicating with Pebble smart watch.
  :markdown
        :::ruby
        require 'artoo'

        connection :pebble, :adaptor => :pebble
        device :watch, :driver => :pebble

        work do
          c = 100
          every 1.second do
            c++
            str = "c: \#{c}"
            pebble.message_queue.push(str)
            Logger.info(pebble.last_message)
          end
        end

%section.public-methods
  .commands_api
    = partial "/documentation/drivers/partials/pebble/commands"
  .commands_api
    = partial "/documentation/drivers/partials/pebble/events"



%section.compatability.hardware
  %h2 Works with:
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
