---
page_title_show: true
title: Artoo - Pebble Driver
author: The Hybrid Group
page_title: Pebble
page_subtitle: Driver
layout: documentation
subnav_driver: true

pebble_platform: true
---
%section.intro
  =image_tag "/images/devices/pebble.jpg", class: "display"
  .info_intro
    %p Allows user to interact with Artoo devices using a Pebble smart watch.
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::ruby
        require 'artoo'
        connection :pebble, :adaptor => :pebble
        device :watch, :driver => :pebble

%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example communicating with Pebble smart watch.
  :markdown
        :::ruby
        require 'artoo'

        connection :pebble, :adaptor => :pebble
        device :watch, :driver => :pebble

        work do
          c = 100
          every 1.second do
            c++
            str = "c: \#{c}"
            pebble.message_queue.push(str)
            Logger.info(pebble.last_message)
          end
        end

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/pebble/commands"
  .commands-api#Events
    = partial "/documentation/drivers/partials/pebble/events"



%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
