---
page_title_show: true
title: Artoo - Roomba Driver
author: The Hybrid Group
page_title: Roomba
page_subtitle: Driver
layout: documentation
subnav_driver: true

roomba_platform: true
---
%section.intro
  =image_tag "/images/devices/roomba.jpg", class: "display"
  %p Allows user to control a Roomba iRobot Create using Artoo.

%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::ruby
        require 'artoo'
        connection :roomba, :adaptor => :roomba, :port => '/dev/ttyUSB0'
        device :roomba, :driver => :roomba, :connection => :roomba

%section.how-to#HowToUse
  %h2 How To Use
  %h3 Example controlling a Roomba.
  :markdown
        :::ruby
        require 'artoo'

        connection :roomba, :adaptor => :roomba, :port => '/dev/ttyUSB0'
        device :roomba, :driver => :roomba, :connection => :roomba

        work do
          roomba.safe_mode
          roomba.nudge_left
          roomba.nudge_right
          roomba.nudge_right
          roomba.nudge_left
        end

%section.public-methods
  .commands_api#Commands
    = partial "/documentation/drivers/partials/roomba/commands"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
