---
page_title_show: true
title: Artoo - Roomba Driver
author: The Hybrid Group
page_title: Roomba
page_subtitle: Driver
layout: documentation

roomba_platform: true
---
%section.intro
  =image_tag "/images/devices/roomba.jpg", class: "display"
  %p Allows user to control a Roomba iRobot Create using Artoo.

%section.how-to
  %h2 How to establish a connection and setup the driver
  :markdown
        :::ruby
        require 'artoo'
        connection :roomba, :adaptor => :roomba, :port => '/dev/ttyUSB0'
        device :roomba, :driver => :roomba, :connection => :roomba

%section.how-to
  %h2 How to use
  %h3 Example controlling a Roomba.
  :markdown
        :::ruby
        require 'artoo'

        connection :roomba, :adaptor => :roomba, :port => '/dev/ttyUSB0'
        device :roomba, :driver => :roomba, :connection => :roomba

        work do
          roomba.safe_mode
          roomba.nudge_left
          roomba.nudge_right
          roomba.nudge_right
          roomba.nudge_left
        end

%section.public-methods
  .commands_api
    = partial "/documentation/drivers/partials/roomba/commands"

%section.compatability.hardware
  %h2 Works with:
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
