---
layout: documentation
page_title_show: true
title: "Artoo Example - crazy_pebble"
page_title: "Example: crazy_pebble"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-crazyflie/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        # connection :crazyflie, :adaptor => :crazyflie, :supports_hover => true
        # device :drone, :driver => :crazyflie, :connection => :crazyflie, :interval => 0.1

        connection :pebble, :adaptor => :pebble, :port => '127.0.0.1:4567', :id => "378B"
        device :watch, :driver => :pebble, :connection => :pebble

        work do
          on watch, :media_control => :button_push

          display_watch
        end

        def button_push(caller, data)
          return if data.nil?

          case data.button
          when :previous
            drone.take_off

          when :next
            drone.land
            drone.stop

          when :playpause
            if @hovering
              @hovering = false
              drone.hover(:stop)
              drone.land
              drone.stop
            else
              @hovering = true
              drone.hover(:start)
            end
            
          else
            puts "WAT"
          end
        end

        def display_watch
          watch.set_nowplaying_metadata("Takeoff", "Landing", "Hover")
        end

