---
title: Ardrone with Artroo
author: The Hybrid Group
page_title: Ardrone
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-ardrone' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/artoo-ardrone/issues'>Issues</a>"
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/ardrone.jpg", class: "display"

    %p
      =# TODO: Add content to the arduino platform page.
      %h3 Content pending...
