---
title: BeagleBone with Artroo
author: The Hybrid Group
page_title: BeagleBone
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-beaglebone' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/artoo-beaglebone/issues'>Issues</a>"
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/beaglebone.jpg", class: "display"

    %p The BeagleBone

    %p
      For more info about the BeagleBone platform click
      = succeed "." do
        = link_to "here", "http://beagleboard.org/Products/BeagleBone", target: :blank

  %section.example
    %h2 What the code looks like?
    %p Pending

  %section.drivers
    %h2 Drivers
    %p Pending

    .hardware
      .devices
