---
title: Keyboard with Artoo
author: The Hybrid Group
page_title: Keyboard
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-keyboard' target='blanck' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/artoo-keyboard/issues' target='blanck'>Issues</a>"
layout: documentation
page_title_show: true

keyboard_driver: true
---
.documentation
  %section.intro
    = image_tag "/images/devices/keyboard.jpg", class: "display"

    %p The Artoo adaptor for keyboard input.


  %section.how-to
    %h2 How to install
    %p Installing artoo with a keyboard support is pretty easy using ruby gems.
    :markdown
          :::javascript
          gem install artoo-keyboard

    %h2 How to use
    :markdown
          :::ruby
          require 'artoo'

          connection :keyboard, adaptor: :keyboard
          device :keyboard, driver: :keyboard, connection: :keyboard

          work do
            on keyboard, :key => :keypress
          end

          def keypress(sender, key)
            puts key
          end

  %section.drivers
    %h2 Drivers
    %p Available drivers for the keyboard platform are listed below. 

    .hardware
      .devices
        = partial "documentation/partials/devices_keyboard_drivers"
        
