---
page_title_show: true
title: Roomba with Artoo
author: The Hybrid Group
page_title: Platforms
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Roomba
page_subtitle_docs: "<a href='https://github.com/hybridgroup/artoo-roomba' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/artoo-roomba/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true

roomba_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(13)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");
  
%section.intro
  = image_tag "/images/devices/roomba.jpg", class: "display"
  .info_intro
    %p The Roomba is a simple robot that usually cleans floors.
    %p
      For more info about the Roomba platform click
      = succeed "." do
        = link_to "here", "http://www.irobot.com/us/learn/Educators/Create.aspx", target: :blank
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p  Installing artoo with roomba support is pretty easy using ruby gems.
  :markdown
        :::bash
        gem install artoo-roomba
        
%section.how-to#HowToUse
  %h2 How To Use
  %p This small program controls a Roomba.
  :markdown
        :::ruby
        require 'artoo'

        connection :roomba, :adaptor => :roomba, :port => '/dev/ttyUSB0'
        device :roomba, :driver => :roomba, :connection => :roomba

        work do
          roomba.safe_mode
          roomba.nudge_left
          roomba.nudge_right
          roomba.nudge_right
          roomba.nudge_left
        end

%section.drivers#Drivers
  %h2 Drivers
  %p There is only one driver for the Roomba platform, as listed below.

  .hardware
    .devices
      =# TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_roomba_drivers"
