---
title: Roomba with Artroo
author: The Hybrid Group
page_title: Roomba
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-roomba' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/artoo-roomba/issues'>Issues</a>"
layout: page
---
.documentation
  %section.intro
    = image_tag "/images/roomba.jpg", class: "display"

    %p
      =# TODO: Add content to the arduino platform page.
      %h3 Content pending...
