---
page_title_show: true
title: Spark with Artoo
author: The Hybrid Group
page_title: Platforms
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Spark
page_subtitle_docs: "<a href='https://github.com/hybridgroup/artoo-spark' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/artoo-spark/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true

analog_sensor_driver: true
button_driver: true
led_driver: true
maxbotix_driver: true
motor_driver: true
servo_driver: true
continuous_servo_driver: true
makey_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(14)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");
  
%section.intro
  = image_tag "/images/devices/spark.jpg", class: "display"
  .info_intro
    %p
      This repository contains the Artoo
      =link_to "(http://artoo.io/)", "http://artoo.io/", target: :blank
      adaptor for the Spark core device
      =link_to "(http://spark.io) ", "http://spark.io", target: :blank
      using the built-in Tinker protocol.
  .clear

%section.how-to#HowToInstall
  %h2 How To Install
  %p  Installing artoo with spark support is pretty easy.
  :markdown
        :::bash
        gem install artoo-spark

%section.how-to#HowToUse
  %h2 How To Use
  %p You will need to have a Spark device, it's device ID (found via the build tool on Spark's website), and an access token from a registered Spark account.
  %h2 Using
  %p This small program lets you turn on or off a LED for every 1 sec.
  :markdown
        :::ruby
        require 'artoo'

        connection :spark, :adaptor => :spark, :access_token => 'XYZABC123', :device_id => '123ABC456'
        device :led, :driver => :led, :pin => 'D0'

        work do
          every(1.second) do
            led.toggle
          end
        end
%section.how-to#HowToConnect
  %h2 How To Connect
  %p Once your Spark is connected via Wifi, you're done. It should keep itself connected, and your Artoo program should be able to connect to it via the Internet, using the access token that Spark has given you.

%section.drivers#Drivers
  %h2 Drivers
  %p Available drivers for the spark platform are listed below, the drivers contain detailed documentation and examples of what kind physical computing (using artoo and ruby) you could be doing:

  .hardware
    %h2 GPIO Drivers
    .devices
      =# TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_gpio_drivers"
