---
title: Artoo - Sphero
author: The Hybrid Group
layout: page
---
%section.intro
  %h1 Sphero
  %p
    =image_tag "http://placehold.it/350x250", target: "_blank"
  %h3 What is sphero?
  %p
    Sphero is a sophisticated and programmable robot housed in a polycarbonate sphere shell.
  %p
    The artoo sphero adaptor makes it easy to interact with sphero using ruby, once you have your sphero setup and connected to your computer
    you can start writing code to make sphero, move, change direction, speed and colors, or detect sphero events and execute some
    code when they occur.

  %h3 How do I connect sphero to my computer so I can start coding?
  %p
    Easy we have a guide for both mac and linux in the README.md page of the artoo-sphero gem
    = link_to "here", "https://github.com/hybridgroup/artoo-sphero#connecting-to-sphero"
    , once the sphero is paired and listening you should see it stay a solid color, instead of flashing different colors(not connected),
    once this happens that's it, you can start coding using artoo and ruby.

  %h3 Where can I get a sphero or find more info about it?
  %p
    You can do it by following this link
    = link_to "GoSphero.", "http://www.gosphero.com/"

  %h2 How to stablish a connection and setup the driver
  %p
    That is pretty simple once the sphero is ready (connected and listening), you just need three lines of code and you are set,
    artoo and the sphero driver take care of the rest.
  :markdown
        :::ruby
        require 'artoo'
        connection :sphero, :adaptor => :sphero, :port => '127.0.0.1:8023'
        device :sphero, :driver => :sphero

%section.public-methods
  %h2 Public instance methods:

  %h3 roll(speed, direction) → true | nil
  %p
    Starts the sphero rolling at the provided speed (value between 0 and 255) and direction (value between 0 and 360).

  %h3 stop → true | nil
  %p
    Stops the sphero.

  %h3 detect_collissions → true | nil
  %p
    REVISION PENDING: Sets the sphero to detect collisions and report them.

  %h3 messages → [sphero_event]
  %p
    REVISION PENDING: Returns an array of sphero events, the messages reported by the sphero.

  %h3 color(:color_symbol | [red, green, blue]) → [red_int, green_int, blue_int]
  %p
    REVISION PENDING: You can pass a color as a symbol or an array containing RGB colors from 0 to 255 ([255, 0, 0] == red),
    if passed a symbol returns the array of RGB corresponding to the color, if passed an array of colors it returns the same array 
    (used when setting colors to the sphero).

  %h3 set_color([red, green, blue]) → true | nil
  %p
    REVISION PENDING: You can either use it in tandem with color to set the color of the sphero or just pass an array containing RGB colors
    on the range 0 to 255 ([255, 0, 0] == red).

%section.public-events
  %h2 Public driver events:
  %p
    Public events are triggered when something occurs to your sphero, when this occurs you can execute some code 
    to respond accordingly, depending on the event triggered, you can access
    the following public events when programming the Sphero.

  %h3 :colission
  %p
    Gets triggered when the sphero hits something or falls from a step.

  %h3 How to use events and call them in your program.
  %p
    Pretty simple, when the connection and the driver have been setup (as explained above)
    you can call events on the sphero driver as follows:
  :markdown
        :::ruby
        # :contact is the name of a previously defined method containing the code to execute.
        on sphero, :collision => :contact

%section.example
  %h2 Example of a simple program that makes the sphero roll and change colors.
  :markdown
        :::ruby
         require 'artoo'

        connection :sphero, :adaptor => :sphero, :port => '127.0.0.1:8023'
        device :sphero, :driver => :sphero

        work do
          @count = 1
          every(3.seconds) do
            sphero.set_color(@count % 2 == 0 ? :green : :blue)
            @count += 1
            sphero.roll 60, rand(360)
          end
        end
