:markdown
  # Commands

  ## range 

  Returns the distance measured by the sonar in inches.

  ##### Params

  `no params`

  ##### Returns

  `distance_in_inches(float)`

  ## range_cm 

  Returns the distance measured by the sonar in cm.

  ##### Params

  `no params`

  ##### Returns

  `distance_in_cm(float)`