:markdown
  # Commands

  ## move(angle)

  Moves the servo to the specified angle, angle must be an integer value between `0` and `180`.

  ##### Params

  - ** angle ** - params

  ##### Returns

  `true or nil`

  ## min

  Moves the servo to the angle = `0` position.

  ##### Params

  `no params`

  ##### Returns

  `nil`

  ## max

  Moves the servo to the angle = `180` position.

  ##### Params

  `no params`

  ##### Returns

  `nil`

  ## center

  Moves the servo to the angle = `90` position.

  ##### Params

  `no params`

  ##### Returns

  `nil`

  ## current_angle 

  Returns the current angle of the servo, an integer value between `0` and `180`.

  ##### Params

  `no params`

  ##### Returns

  `integer (0 - 180)`