:markdown
  # Commands

  ## pin 

  Returns the pin number set up when creating the sensor.

  ##### Params

  `no params`

  ##### Returns

  `integer`

  ## upper 

  Returns the upper limit set up when creating the sensor.

  ##### Params

  `no params`

  ##### Returns

  `integer`

  ## lower 

  Returns the lower limit set up when creating the sensor.

  ##### Params

  `no params`

  ##### Returns

  `integer`

  ## analog_read(pin_number) 

  Returns an integer value that represents the analog read from the sensor, the value goes from `0` to `1027`.

  ##### Params

  - **pin_number** -  params, the pin value

  ##### Returns

  `integer (from 0 to 1027)`