:markdown
  # Commands

  ## pin → integer_value

  Public: Returns the pin number set up when creating the sensor.

  Returns integer

  ## upper → integer_value

  Public: Returns the upper limit set up when creating the sensor.

  Returns integer

  ## lower → integer_value

  Public: Returns the lower limit set up when creating the sensor.

  Returns integer

  ## analog_read(pin_number) → integer_value (from 0 to 1027)

  Public: Returns an integer value that represents the analog read from the sensor, the value goes from `0` to `1027`.

  - **pin_number** -  params, the pin value

  Returns integer