:markdown
  # Commands

  ## range → distance_in_inches(float)

  Public: Returns the distance measured by the sonar in inches.

  ** Returns distance_in_inches(float) **

  ## range_cm → distance_in_cm(float)

  Public: Returns the distance measured by the sonar in cm.

  ** Returns distance_in_cm(float) **