:markdown
  # Commands

  ## clockwise

  Turns the servo to go clockwise, if the driver is continuous.

  ##### Params

  `no params`

  ##### Returns

  `nil`

  ## counter_clockwise

  Turns the servo to go counter clockwise, if the driver is continuous.

  ##### Params

  `no params`

  ##### Returns

  `nil`

  ## stop

  Stops the driver.

  ##### Params

  `no params`

  ##### Returns

  `nil`