:markdown
  # Commands

  ## on 

  Turns LED on.

  ##### Params

  `no params`

  ##### Returns

  `true or nil`

  ## off 

  Turns LED off.

  ##### Params

  `no params`

  ##### Returns

  `true or nil`

  ## on? 

  Returns true if LED is on, otherwise returns false.

  ##### Params

  `no params`

  ##### Returns

  `true or false`

  ## off? 

  Returns true if LED is off, otherwise returns false.

  ##### Params

  `no params`

  ##### Returns

  `true or false`

  ## toggle 

  Turns the LED on, or off, depending on if it is already off, or on, respectively.

  ##### Params

  `no params`

  ##### Returns

  `true or nil`

  ## brightness(brightness_int)

  Sets brightness of the led to the specified brightness value passed to brightness(brightness_int) using PWM, brightness can be any integer value between `0` and `255`.

  ##### Params

  - **brightness_int** - params , the brightness value

  ##### Returns

  `true or nil`