:markdown
  # Events

  #### The events will be triggered when the amount of time specified by the param `:interval`, when setting up the driver, passes.

  ## start_driver

  Starts the driver.

  ## :range

  Gets triggered after `:interval` amount of time passes, everytime the range will be read and the event triggered.