:markdown
  # Commands

  ## message_queue           

  Used to add or access the queue of strings being passed to the Pebble watch.

  ##### Returns

  `Array` with all message strings

  ## last_message           

  Returns and removes the string with the last message from the queue of messages being passed with the Pebble watch.

  ##### Returns

  `String` with the last message on the queue.
