:markdown
  # Commands

  ## ping           

  Public: Used to send a ping.

  ** Returns nil ** 

  ## notification_sms           

  Public: Used for all the sms notifications.

  ** Returns **

  ## notification_email           

  Public: Used for all the email notifications.

  ** Returns **

  ## set_nowplaying_metadata           

  Public: Sets a "now playing" metadata.

  ** Returns **

  ## get_versions           

  Public: Gets the version of the pebble smartwatch.

  ** Returns version **

  ## get_installed_apps           

  Public: Gets all the intalled apps on the pebble smartwatch.

  ** Returns installed apps **

  ## remove_app           

  Public: Removes an specific app.

  ** Returns nil **

  ## get_time           

  Public: Gets the time.

  ** Returns integer **

  ## set_time           

  Public: Sets the time.

  ** Returns nil **

  ## system_message           

  Public: Text here.

  ** Returns nil **

  ## reset           

  Public: Resets the pebble smartwath.

  ** Returns nil **

