:markdown
  # Events

  ## start_driver

  Starts the driver.

  ## handle_collision_detected(data)

  Gets triggered when the Sphero has data to send to the user, related to "collision".

  - **data**- The returned data

  ## handle_power_notification(data)

  Gets triggered when the Sphero has data to send to the user, related to "power".

  - **data**- The returned data

  ## handle_sensor_data(data)

  Gets triggered when the Sphero has data to send to the user, related to "sensor".

  - **data**- The returned data