$bodyBackground                   : #E9F5FA;

$navbarInverseBackground          : #8B332F;
$navbarInverseBackgroundHighlight : #AB4848;
$navbarInverseBorder              : #252525;

$navbarInverseBrandColor          : #FFEFBC;
$navbarInverseLinkColor           : #DDBEBE;
