//Platforms All

-if current_page.data.platforms == true
  ///Ardrone
  %a.device{href:"/documentation/platforms/ardrone", title: "AR Drone"}
    %img{src: "/images/ardrone.jpg"}
  /// Arduino
  %a.device{href:"/documentation/platforms/arduino", title: "Arduino"}
    %img{src: "/images/arduino.jpg"}
  /// Beaglebone
  %a.device{href:"/documentation/platforms/beaglebone", title: "BeagleBone"}
    %img{src: "/images/beaglebone.jpg"}  
  /// Crazylie
  %a.device{href:"/documentation/platforms/crazyflie", title: "Crazyflie"}
    %img{src: "/images/crazyflie.jpg"}  
  /// Digispark
  %a.device{href:"/documentation/platforms/digispark", title: "Digispark"}
    %img{src: "/images/digispark.jpg"}
  /// Joystick
  %a.device{href:"/documentation/platforms/joystick", title: "Joystick"}
    %img{src: "/images/joystick.jpg"}
  /// Leap Motion
  %a.device{href:"/documentation/platforms/leapmotion", title: "Leap Motion"}
    %img{src: "/images/leap_motion.jpg"}
  /// Open CV
  %a.device{href:"/documentation/platforms/opencv", title: "OpenCV"}
    %img{src: "/images/opencv.jpg"}
  /// Pebble
  %a.device{href:"/documentation/platforms/pebble", title: "Pebble"}
    %img{src: "/images/pebble.jpg"}
  /// Raspberry Pi
  %a.device{href:"/documentation/platforms/raspberry-pi", title: "Raspberry Pi"}
    %img{src: "/images/raspi.jpg"}
  /// Roomba
  %a.device{href:"/documentation/platforms/roomba", title: "Roomba"}
    %img{src: "/images/roomba.jpg"}
  /// Spark
  %a.device{href:"/documentation/platforms/spark", title: "Spark"}
    %img{src: "/images/spark.jpg"}
  /// Sphero
  %a.device{href:"/documentation/platforms/sphero", title: "Sphero"}
    %img{src: "/images/sphero.jpg"}

//Platforms Parts

- if current_page.data.ardrone_platform == true
  ///Ardrone
  %a.device{href:"/documentation/platforms/ardrone", title: "AR Drone"}
    %img{src: "/images/ardrone.jpg"}

- if current_page.data.arduino_platform == true
  /// Arduino
  %a.device{href:"/documentation/platforms/arduino", title: "Arduino"}
    %img{src: "/images/arduino.jpg"}

- if current_page.data.beaglebone_platform == true
  /// Beaglebone
  %a.device{href:"/documentation/platforms/beaglebone", title: "BeagleBone"}
    %img{src: "/images/beaglebone.jpg"}  

- if current_page.data.crazyflie_platform == true
  /// Crazylie
  %a.device{href:"/documentation/platforms/crazyflie", title: "Crazyflie"}
    %img{src: "/images/crazyflie.jpg"}  

- if current_page.data.digispark_platform == true
  /// Analog Sensor
  %a.device{href:"/documentation/platforms/digispark", title: "Digispark"}
    %img{src: "/images/digispark.jpg"}

- if current_page.data.joystick_platform == true
  /// Joystick
  %a.device{href:"/documentation/platforms/joystick", title: "Joystick"}
    %img{src: "/images/joystick.jpg"}

- if current_page.data.leapmotion_platform == true
  /// Leap Motion
  %a.device{href:"/documentation/platforms/leapmotion", title: "Leap Motion"}
    %img{src: "/images/leap_motion.jpg"}

- if current_page.data.opencv_platform == true
  /// Open CV
  %a.device{href:"/documentation/platforms/opencv", title: "OpenCV"}
    %img{src: "/images/opencv.jpg"}

- if current_page.data.pebble_platform == true
  /// Pebble
  %a.device{href:"/documentation/platforms/pebble", title: "Pebble"}
    %img{src: "/images/pebble.jpg"}

- if current_page.data.raspberry_platform == true
  /// Raspberry Pi
  %a.device{href:"/documentation/platforms/raspberry-pi", title: "Raspberry Pi"}
    %img{src: "/images/raspi.jpg"}

- if current_page.data.roomba_platform == true
  /// Roomba
  %a.device{href:"/documentation/platforms/roomba", title: "Roomba"}
    %img{src: "/images/roomba.jpg"}

- if current_page.data.spark_platform == true
  /// Spark
  %a.device{href:"/documentation/platforms/spark", title: "Spark"}
    %img{src: "/images/spark.jpg"}

- if current_page.data.sphero_platform == true
  /// Sphero
  %a.device{href:"/documentation/platforms/sphero", title: "Sphero"}
    %img{src: "/images/sphero.jpg"}

