//Drivers All
-if current_page.data.drivers == true
  /// Analog Sensor
  %a.device{href:"/documentation/drivers/analog-sensor", title: "Analog Sensor"}
    %img{src: "/images/analog-sensor.jpg"}
  /// Ardrone Flight
  %a.device{href:"/documentation/drivers/ardrone", title: "ARDrone Flight Control"}
    %img{src: "/images/ardrone-flight.jpg"}
  /// Ardrone Navigation
  %a.device{href:"/documentation/drivers/ardrone-navigation", title: "ARDrone Navigation Data"}
    %img{src: "/images/ardrone-navigation.jpg"}
  /// Ardrone Video
  %a.device{href:"/documentation/drivers/ardrone-video", title: "ARDrone Video Data"}
    %img{src: "/images/ardrone-video.jpg"}
  /// Blinkm
  %a.device{href: "/documentation/drivers/blinkm", title: "Wii Nunchuck"}
    %img{src: "/images/blinkm.jpg"}  
  /// Button
  %a.device{href:"/documentation/drivers/button", title: "Button"}
    %img{src: "/images/button.jpg"}
  /// Crazyflie Flight
  %a.device{href:"/documentation/drivers/crazyflie", title: "Crazyflie Flight Control"}
    %img{src: "/images/crazyflie-driver.jpg"} 
  /// Crazyflie Navigation
  %a.device{href:"/documentation/drivers/crazyflie-nav", title: "Crazyflie Navigation Control"}
    %img{src: "/images/crazyflie-nav.jpg"}
  /// Hmc6352 Compass
  %a.device{href: "/documentation/drivers/hmc6352-compass", title: "Wii Nunchuck"}
    %img{src: "/images/hmc6352-compass.jpg"}
  // Joystick
  %a.device{href:"/documentation/drivers/joystick", title: "Joystick"}
    %img{src: "/images/joystick.jpg"}
  /// Leap Motion
  %a.device{href:"/documentation/drivers/leapmotion", title: "Leap Motion"}
    %img{src: "/images/leap_motion.jpg"}
  /// LED
  %a.device{href: "/documentation/drivers/led", title: "LED"}
    %img{src: "/images/LED.jpg"}
  /// Maxbotix
  %a.device{href: "/documentation/drivers/maxbotix", title: "Maxbotix Range Finder"}
    %img{src: "/images/maxbotix.jpg"}
  /// Motor
  %a.device{href: "/documentation/drivers/motor", title: "Motor"}
    %img{src: "/images/motor.jpg"}
  /// Pebble
  %a.device{href:"/documentation/drivers/pebble", title: "Pebble"}
    %img{src: "/images/pebble.jpg"}
  /// PS3
  %a.device{href:"/documentation/drivers/ps3", title: "PS3 Controller"}
    %img{src: "/images/ps3.jpg"}
  /// Roomba
  %a.device{href:"/documentation/drivers/roomba", title: "Roomba"}
    %img{src: "/images/roomba.jpg"}
  /// Servo
  %a.device{href: "/documentation/drivers/servo", title: "Servo"}
    %img{src: "/images/servo.jpg"}
  /// Sphero
  %a.device{href:"/documentation/drivers/sphero", title: "Sphero"}
    %img{src: "/images/sphero.jpg"} 
  /// Wiichuck
  %a.device{href: "/documentation/drivers/wiichuck", title: "Wii Nunchuck"}
    %img{src: "/images/wii-chuck.jpg"}
  /// Wii Classic
  %a.device{href: "/documentation/drivers/wiiclassic", title: "Wii Classic Controller"}
    %img{src: "/images/wii-classic-controller.jpg"}
  /// Xbox 360
  %a.device{href:"/documentation/drivers/xbox360", title: "XBox360 Controller"}
    %img{src: "/images/xbox360.jpg"}

-if current_page.data.analog_sensor_driver == true
  /// Analog Sensor
  %a.device{href:"/documentation/drivers/analog-sensor", title: "Analog Sensor"}
    %img{src: "/images/analog-sensor.jpg"}

-if current_page.data.ardrone_flight_driver == true
  /// Ardrone Flight
  %a.device{href:"/documentation/drivers/ardrone", title: "ARDrone Flight Control"}
    %img{src: "/images/ardrone-flight.jpg"}

-if current_page.data.ardrone_nav_driver == true
  /// Ardrone Navigation
  %a.device{href:"/documentation/drivers/ardrone-navigation", title: "ARDrone Navigation Data"}
    %img{src: "/images/ardrone-navigation.jpg"}

-if current_page.data.ardrone_video_driver == true
  /// Ardrone Video
  %a.device{href:"/documentation/drivers/ardrone-video", title: "ARDrone Video Data"}
    %img{src: "/images/ardrone-video.jpg"}

-if current_page.data.blinkm_driver == true
  /// Blinkm
  %a.device{href: "/documentation/drivers/blinkm", title: "Blinkm"}
    %img{src: "/images/blinkm.jpg"}    

-if current_page.data.button_driver == true
  /// Button
  %a.device{href:"/documentation/drivers/button", title: "Button"}
    %img{src: "/images/button.jpg"}

-if current_page.data.crazyflie_flight_driver == true
  /// Crazyflie Flight
  %a.device{href:"/documentation/drivers/crazyflie", title: "Crazyflie Flight Control"}
    %img{src: "/images/crazyflie-driver.jpg"}    

-if current_page.data.crazyflie_nav_driver == true
  /// Crazyflie Navigation
  %a.device{href:"/documentation/drivers/crazyflie-nav", title: "Crazyflie Navigation Control"}
    %img{src: "/images/crazyflie-nav.jpg"}

-if current_page.data.hmc6352_compass_driver == true
  /// Hmc6352 Compass
  %a.device{href: "/documentation/drivers/hmc6352-compass", title: "Wii Nunchuck"}
    %img{src: "/images/hmc6352-compass.jpg"}

-if current_page.data.joystick_driver == true
  // Joystick
  %a.device{href:"/documentation/drivers/joystick", title: "Joystick"}
    %img{src: "/images/joystick.jpg"}

-if current_page.data.leapmotion_driver == true
  /// Leap Motion
  %a.device{href:"/documentation/drivers/leapmotion", title: "Leap Motion"}
    %img{src: "/images/leap_motion.jpg"}

-if current_page.data.led_driver == true
  /// LED
  %a.device{href: "/documentation/drivers/led", title: "LED"}
    %img{src: "/images/LED.jpg"}

-if current_page.data.maxbotix_driver == true
  /// Maxbotix
  %a.device{href: "/documentation/drivers/maxbotix", title: "Maxbotix Range Finder"}
    %img{src: "/images/maxbotix.jpg"}

-if current_page.data.motor_driver == true
  /// Motor
  %a.device{href: "/documentation/drivers/motor", title: "Motor"}
    %img{src: "/images/motor.jpg"}

-if current_page.data.pebble_driver == true
  /// Pebble
  %a.device{href:"/documentation/drivers/pebble", title: "Pebble"}
    %img{src: "/images/pebble.jpg"}

-if current_page.data.ps3_driver == true
  /// PS3
  %a.device{href:"/documentation/drivers/ps3", title: "PS3 Controller"}
    %img{src: "/images/ps3.jpg"}

-if current_page.data.roomba_driver == true
  /// Roomba
  %a.device{href:"/documentation/drivers/roomba", title: "Roomba"}
    %img{src: "/images/roomba.jpg"}

-if current_page.data.servo_driver == true
  /// Servo
  %a.device{href: "/documentation/drivers/servo", title: "Servo"}
    %img{src: "/images/servo.jpg"}

-if current_page.data.sphero_driver == true
  /// Sphero
  %a.device{href:"/documentation/drivers/sphero", title: "Sphero"}
    %img{src: "/images/sphero.jpg"} 

-if current_page.data.wiichuck_driver == true
  /// Wiichuck
  %a.device{href: "/documentation/drivers/wiichuck", title: "Wii Nunchuck"}
    %img{src: "/images/wii-chuck.jpg"}   

-if current_page.data.wiiclassic_driver == true
  /// Wii Classic
  %a.device{href: "/documentation/drivers/wiiclassic", title: "Wii Classic Controller"}
    %img{src: "/images/wii-classic-controller.jpg"}

-if current_page.data.xbox360_driver == true
  /// Xbox 360
  %a.device{href:"/documentation/drivers/xbox360", title: "XBox360 Controller"}
    %img{src: "/images/xbox360.jpg"}

