%section.subnav-drivers#mainsubnav
	.container-subnav
		%nav
			%a{:href => "#HowToInstall"} How To Install
			%a{:href => "#HowToUse"} How To Use
			%a{:href => "#HowToConnect"} How To Connect
			%a{:href => "#Drivers"} Drivers
			%a{:href => "#top"} 
				%img{:src => "/images/elements/top-arrow.png", :alt => "Top page", width: "20"}/ 
%br/ 