---
layout: page
title: Artoo Hardware
page_title: Supported Hardware
page_subtitle: Here are the hardware devices that Artoo currently supports.
author: The Hybrid Group
description: Artoo compatible hardware.
---

%section.hardware
  .devices
    %a.device{href:"https://github.com/hybridgroup/artoo-ardrone", title: "AR Drone"}
      %img{src: "/images/ardrone.jpg"}
    %a.device{href:"https://github.com/hybridgroup/artoo-arduino", title: "Arduino"}
      %img{src: "/images/arduino.jpg"}
    %a.device{href:"https://github.com/hybridgroup/artoo-digispark", title: "Digispark"}
      %img{src: "/images/digispark.jpg"}
    %a.device{href:"https://github.com/hybridgroup/artoo-leapmotion", title: "Leap Motion"}
      %img{src: "/images/leap_motion.jpg"}
    %a.device{href:"https://github.com/hybridgroup/artoo-pebble", title: "Pebble"}
      %img{src: "/images/pebble.jpg"}
    %a.device{href:"https://github.com/hybridgroup/artoo-raspi", title: "Raspberry Pi"}
      %img{src: "/images/raspi.jpg"}
    %a.device{href:"https://github.com/hybridgroup/artoo-roomba", title: "Roomba"}
      %img{src: "/images/roomba.jpg"}
    %a.device{href:"https://github.com/hybridgroup/artoo-sphero", title: "Sphero"}
      %img{src: "/images/sphero.jpg"}
  %h4.more More Coming Soon…
