---
layout: page
title: Artoo Hardware
author: The Hybrid Group
description: Artoo compatible hardware.
---

%section.hardware
  :markdown
    ## Supported Hardware

    #### Click on an image to go to related adaptor repository

    [![Arduino](/images/arduino.jpg)](https://github.com/hybridgroup/artoo-arduino)
    [![AR Drone](/images/ardrone.jpg)](https://github.com/hybridgroup/artoo-ardrone)
    [![Sphero](/images/sphero.jpg)](https://github.com/hybridgroup/artoo-sphero)
    [![Roomba](/images/roomba.jpg)](https://github.com/hybridgroup/artoo-roomba)
    [![Pebble](/images/pebble.jpg)](https://github.com/hybridgroup/artoo-pebble)
    [![Raspberry Pi](/images/raspi.jpg)](https://github.com/hybridgroup/artoo-raspi)
    [![Leap Motion](/images/leap_motion.jpg)](https://github.com/hybridgroup/artoo-leapmotion)
