// TODO Move this to a layout
.documentation
  .index
    font-size: 20px
    padding: 0 0 0 20px
    li
      margin-bottom: 8px
  .link
  .description
    color: #808080
    font-size: 14px
    line-height: 21px
    margin: 7px 0 0 0


