---
layout: documentation
page_title_show: true
title: "Artoo Example - ardrone"
page_title: "Example: ardrone"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :ardrone, :adaptor => :ardrone, :port => '192.168.0.43:5556'
        device :drone, :driver => :ardrone, :connection => :ardrone

        work do
          drone.start
          drone.take_off
          
          after(25.seconds) { drone.hover.land }
          after(30.seconds) { drone.stop }
        end

