---
layout: documentation
page_title_show: true
title: "Artoo Example - sphero_color"
page_title: "Example: sphero_color"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :sphero, :adaptor => :sphero, :port => '/dev/rfcomm0' #linux
        device :sphero, :driver => :sphero

        work do
          every(1.seconds) do
            puts "Rolling..."
            sphero.set_color(rand(255),rand(255),rand(255))
            sphero.roll 20, rand(360)
          end
        end


