---
layout: documentation
page_title_show: true
title: "Artoo Example - sphero_cycle"
page_title: "Example: sphero_cycle"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :sphero, :adaptor => :sphero, :port => '/dev/rfcomm0' #linux
        device :sphero, :driver => :sphero
          
        work do
        	sphero.set_color(0, 0, 0)
        	sphero.set_color(:red)
        	sphero.set_color(:yellow)
        	sphero.set_color(:green)
        	sphero.set_color(0, 255, 255)
        	sphero.set_color(:blue)
        	sphero.set_color(255, 0, 255)
        	sphero.set_color(:white)
        end

