%section.hardware
  .devices
    %a.device{href:"/documentation/platforms/ardrone", title: "AR Drone"}
      %img{src: "/images/ardrone.jpg"}
    %a.device{href:"/documentation/platforms/arduino", title: "Arduino"}
      %img{src: "/images/arduino.jpg"}
    %a.device{href:"/documentation/platforms/digispark", title: "Digispark"}
      %img{src: "/images/digispark.jpg"}
    %a.device{href:"/documentation/platforms/leapmotion", title: "Leap Motion"}
      %img{src: "/images/leap_motion.jpg"}
    %a.device{href:"/documentation/platforms/pebble", title: "Pebble"}
      %img{src: "/images/pebble.jpg"}
    %a.device{href:"/documentation/platforms/raspberry-pi", title: "Raspberry Pi"}
      %img{src: "/images/raspi.jpg"}
    %a.device{href:"/documentation/platforms/roomba", title: "Roomba"}
      %img{src: "/images/roomba.jpg"}
    %a.device{href:"/documentation/platforms/sphero", title: "Sphero"}
      %img{src: "/images/sphero.jpg"}


