%dl.accordion-docs 
  %dt 
    %a{:href => ""} Getting Started
  %dd 
    %ul 
      %li 
        %a{:href => "/documentation/getting-started"} Setup environment
      %li 
        %a{:href => "/documentation/getting-started/tutorials/arduino"} Tutorial - Arduino led blinks
      %li 
        %a{:href => "/documentation/getting-started/tutorials/sphero"} Tutorial - Sphero changes color
  %dt 
    %a{:href => ""} Guides
  %dd 
    %ul 
      %li 
        %a{:href => "/documentation/guides/what_is_artoo"} 
          About artoo 
      %li 
        %a{:href => "/documentation/guides/concepts"} Concepts
      %li 
        %a{:href => "/documentation/guides/api"} 
          API 
      %li 
        %a{:href => "/documentation/guides/cli"} 
          CLI 
      %li 
        %a{:href => "/documentation/guides/console"} 
          Console 
      %li 
        %a{:href => "/documentation/guides/test-driven-robotics"} Test Driven Robotics
      %li 
        %a{:href => "/documentation/guides/helpers"} Helper Methods
      %li 
        %a{:href => "/documentation/guides/communication"} Communication with devices
      %li 
        %a{:href => "http://rubydoc.info/gems/artoo/frames", :target => '_blank'} Generated documentation

  %dt 
    %a{:href => ""} Platforms
  %dd 
    %ul 
      %li
        %a{:href => "/documentation/platforms/ardrone"} Ardrone
      %li 
        %a{:href => "/documentation/platforms/arduino"} Arduino
      %li 
        %a{:href => "/documentation/platforms/beaglebone"} Beaglebone
      %li 
        %a{:href => "/documentation/platforms/crazyflie"} Crazyflie
      %li 
        %a{:href => "/documentation/platforms/digispark"} Digispark
      %li 
        %a{:href => "/documentation/platforms/joystick"} Joystick
      %li 
        %a{:href => "/documentation/platforms/keyboard"} Keyboard
      %li 
        %a{:href => "/documentation/platforms/leapmotion"} Leap Motion
      %li 
        %a{:href => "/documentation/platforms/neurosky"} Neurosky Mindware
      %li 
        %a{:href => "/documentation/platforms/opencv"} OpenCV
      %li 
        %a{:href => "/documentation/platforms/pebble"} Pebble
      %li 
        %a{:href => "/documentation/platforms/raspberry-pi"} Raspberry Pi
      %li 
        %a{:href => "/documentation/platforms/roomba"} Roomba
      %li 
        %a{:href => "/documentation/platforms/spark"} Spark
      %li 
        %a{:href => "/documentation/platforms/sphero"} Sphero
  %dt 
    %a{:href => ""} Drivers
  %dd 
    GPIO
    %ul 
      %li
        %a{:href => "/documentation/drivers/analog-sensor"} Analog Sensor
      %li
        %a{:href => "/documentation/drivers/button"} Button
      %li
        %a{:href => "/documentation/drivers/continuous_servo"} Continuos Servo 
      %li
        %a{:href => "/documentation/drivers/led"} LED 
      %li
        %a{:href => "/documentation/drivers/makey-button"} Makey Button 
      %li
        %a{:href => "/documentation/drivers/maxbotix"} Maxbotix 
      %li
        %a{:href => "/documentation/drivers/motor"} Motor 
      %li
        %a{:href => "/documentation/drivers/servo"} Servo
    I2C
    %ul 
      %li 
        %a{:href => "/documentation/drivers/blinkm"} Blinkm
      %li 
        %a{:href => "/documentation/drivers/hmc6352-compass"} HMC6352 Compass
      %li 
        %a{:href => "/documentation/drivers/wiiclassic"} Wii Classic Controller
      %li 
        %a{:href => "/documentation/drivers/wiichuck"} Wii Nunchuk Controller 
    ARDrone 
    %ul
      %li
        %a{:href => "/documentation/drivers/ardrone"} Ardrone Flight
      %li
        %a{:href => "/documentation/drivers/ardrone-navigation"} Ardrone Navigation
      %li
        %a{:href => "/documentation/drivers/ardrone-video"} Ardrone Video
    Crazyflie
    %ul
      %li
        %a{:href => "/documentation/drivers/crazyflie"} Crazyflie Flight
      %li
        %a{:href => "/documentation/drivers/crazyflie-nav"} Crazyflie Navigation 
    Joystick
    %ul
      %li
        %a{:href => "/documentation/drivers/joystick"} Generic Joystick
      %li
        %a{:href => "/documentation/drivers/ps3"} Playstation3 Controller 
      %li
        %a{:href => "/documentation/drivers/xbox360"} XBox360 Controller
    Other Drivers
    %ul
      %li
        %a{:href => "/documentation/drivers/keyboard"} Keyboard 
      %li
        %a{:href => "/documentation/drivers/leapmotion"} Leap Motion
      %li
        %a{:href => "/documentation/drivers/neurosky"} Neurosky Mindware
      %li
        %a{:href => "/documentation/drivers/pebble"} Pebble
      %li
        %a{:href => "/documentation/drivers/roomba"} Roomba
      %li
        %a{:href => "/documentation/drivers/sphero"} Sphero
  %dt 
    %a{:href => ""} Troubleshooting
  %dd 
    %ul 
      %li 
        %a{:href => "/documentation/troubleshooting"} Socket to serial proxies - Ubuntu USB To Serial Interface
  %dt 
    %a{:href => ""} Contribute
  %dd 
    %ul
      %li
        %a{:href => "/documentation/contribute"} Introduction  
      %li
        %a{:href => "/documentation/contribute/code-generator"} Code generator
      %li
        %a{:href => "/documentation/contribute/guidelines"} Guidelines
      %li
        %a{:href => "/documentation/contribute/contact-us"} Contact us  

