%dl.accordion-docs 
  %dt 
    %a{:href => ""} Getting Started
  %dd 
    %ul 
      %li 
        %a{:href => "/documentation/getting-started"} Setup environment
      %li 
        %a{:href => "/documentation/tutorials/arduino"} Tutorial - Arduino led blinks
      %li 
        %a{:href => "/documentation/tutorials/sphero"} Tutorial - Sphero changes color
  %dt 
    %a{:href => ""} Guides
  %dd 
    %ul 
      %li 
        %a{:href => "/documentation/guides/what_is_artoo"} 
          About artoo 
      %li 
        %a{:href => "/documentation/guides/concepts"} Concepts
      %li 
        %a{:href => "/documentation/guides/api"} 
          API 
      %li 
        %a{:href => "/documentation/guides/cli"} 
          CLI 
      %li 
        %a{:href => "/documentation/guides/console"} 
          Console 
      %li 
        %a{:href => "/documentation/guides/test-driven-robotics"} Test Driven Robotics
      %li 
        %a{:href => "/documentation/guides/helpers"} Helper Methods
      %li 
        %a{:href => "/documentation/guides/communication"} Communication with devices
      %li 
        %a{:href => "/documentation/guides/generated-doc"} Generated documentation

  %dt 
    %a{:href => ""} Platforms
  %dd 
    %ul 
      %li
        %a{:href => "/documentation/platforms/ardrone"} Ardrone
      %li 
        %a{:href => "/documentation/platforms/arduino"} Arduino
      %li 
        %a{:href => "/documentation/platforms/beaglebone"} Beaglebone
      %li 
        %a{:href => "/documentation/platforms/crazyflie"} Crazyflie
      %li 
        %a{:href => "/documentation/platforms/digispark"} Digispark
      %li 
        %a{:href => "/documentation/platforms/joystick"} Joystick
      %li 
        %a{:href => "/documentation/platforms/keyboard"} Keyboard
      %li 
        %a{:href => "/documentation/platforms/leapmotion"} Leap Motion
      %li 
        %a{:href => "/documentation/platforms/neurosky"} Neurosky Mindware
      %li 
        %a{:href => "/documentation/platforms/opencv"} OpenCV
      %li 
        %a{:href => "/documentation/platforms/pebble"} Pebble
      %li 
        %a{:href => "/documentation/platforms/raspberry-pi"} Raspberry Pi
      %li 
        %a{:href => "/documentation/platforms/roomba"} Roomba
      %li 
        %a{:href => "/documentation/platforms/spark"} Spark
      %li 
        %a{:href => "/documentation/platforms/sphero"} Sphero
  %dt 
    %a{:href => ""} Drivers
  %dd 
    GPIO
    %ul 
      %li
        %a{:href => "/documentation/drivers/"} Analog Sensor
      %li
        %a{:href => "/documentation/drivers/"} Button
      %li
        %a{:href => "/documentation/drivers/"} Continuos Servo 
      %li
        %a{:href => "/documentation/drivers/"} LED 
      %li
        %a{:href => "/documentation/drivers/"} Makey Button 
      %li
        %a{:href => "/documentation/drivers/"} Maxbotix 
      %li
        %a{:href => "/documentation/drivers/"} Motor 
      %li
        %a{:href => "/documentation/drivers/"} Servo
    I2C
    %ul 
      %li 
        %a{:href => "/documentation/drivers/"} Blinkm
      %li 
        %a{:href => "/documentation/drivers/"} HMC6352 Compass
      %li 
        %a{:href => "/documentation/drivers/"} Wii Classic Controller
      %li 
        %a{:href => "/documentation/drivers/"} Wii Nunchuk Controller 
  %dt 
    %a{:href => ""} Troubleshooting
  %dd 
    %ul 
      %li 
        %a{:href => ""} Socket to serial proxies
      %li 
        %a{:href => ""} Ubuntu USB To Serial Interface  
  %dt 
    %a{:href => ""} Contribute
  %dd 
    %ul 
      %li
        %a{:href => ""} Code generator
      %li
        %a{:href => ""} Guidelines
      %li
        %a{:href => ""} Contact us  

