%dl.accordion-docs 
  %dt 
    %a{:href => ""} Getting Started
  %dd 
    %ul 
      %li 
        %a{:href => "/documentation/getting-started"} Setup environment
      %li 
        %a{:href => "/documentation/tutorials/arduino"} Tutorial - arduino makes a led blink
      %li 
        %a{:href => ""} Tutorial - AR-Drone takes off
      %li 
        %a{:href => "/documentation/tutorials/sphero"} Tutorial - Sphero changes color
  %dt 
    %a{:href => ""} Guides
  %dd 
    %ul 
      %li 
        %a{:href => ""} 
          About artoo 
          %span ( How it works? /  Architecture / Concurrency )
      %li 
        %a{:href => ""} Concepts
      %li 
        %a{:href => ""} 
          API 
          %span (How to connect / How to configure / Routes (robeaux?) )
      %li 
        %a{:href => ""} 
          CLI - Console 
          %span (what / how to install / how to use it)
      %li 
        %a{:href => ""} Test Driven Robotics
      %li 
        %a{:href => ""} Helper Methods
      %li 
        %a{:href => ""} Communication with devices
      %li 
        %a{:href => ""} Generated documentation

  %dt 
    %a{:href => ""} Platforms
  %dd 
    %ul 
      %li
        %a{:href => ""} Ardrone
      %li 
        %a{:href => ""} Arduino
      %li 
        %a{:href => ""} Beaglebone
      %li 
        %a{:href => ""} Crazyflie
      %li 
        %a{:href => ""} Digispark
      %li 
        %a{:href => ""} Joystick
      %li 
        %a{:href => ""} Keyboard
      %li 
        %a{:href => ""} Leap Motion
      %li 
        %a{:href => ""} Neurosky Mindware
      %li 
        %a{:href => ""} OpenCV
      %li 
        %a{:href => ""} Pebble
      %li 
        %a{:href => ""} Raspberry Pi
      %li 
        %a{:href => ""} Roomba
      %li 
        %a{:href => ""} Spark
      %li 
        %a{:href => ""} Sphero
  %dt 
    %a{:href => ""} Drivers
  %dd 
    GPIO
    %ul 
      %li
        %a{:href => ""} Analog Sensor
      %li
        %a{:href => ""} Button
      %li
        %a{:href => ""} Continuos Servo 
      %li
        %a{:href => ""} LED 
      %li
        %a{:href => ""} Makey Button 
      %li
        %a{:href => ""} Maxbotix 
      %li
        %a{:href => ""} Motor 
      %li
        %a{:href => ""} Servo
    I2C
    %ul 
      %li 
        %a{:href => ""} Blinkm
      %li 
        %a{:href => ""} HMC6352 Compass
      %li 
        %a{:href => ""} Wii Classic Controller
      %li 
        %a{:href => ""} Wii Nunchuk Controller 
  %dt 
    %a{:href => ""} Troubleshooting
  %dd 
    %ul 
      %li 
        %a{:href => ""} Socket to serial proxies
      %li 
        %a{:href => ""} Ubuntu USB To Serial Interface  
  %dt 
    %a{:href => ""} Contribute
  %dd 
    %ul 
      %li
        %a{:href => ""} Code generator
      %li
        %a{:href => ""} Guidelines
      %li
        %a{:href => ""} Contact us  

