%dl.accordion-docs 
  %dt 
    %a{:href => ""} Getting Started
  %dd 
    %ul 
      %li 
        %a{:href => "/documentation/getting-started"} Setup environment
      %li 
        %a{:href => "/documentation/tutorials/arduino"} Tutorial - arduino makes a led blink
      %li 
        %a{:href => ""} Tutorial - AR-Drone takes off
      %li 
        %a{:href => "/documentation/tutorials/sphero"} Tutorial - Sphero changes color
  %dt 
    %a{:href => ""} Guides
  %dd 
    %ul 
      %li 
        %a{:href => ""} About artoo ( How it works? /  Architecture / Concurrency )
      %li 
        %a{:href => ""} Concepts
      %li 
        %a{:href => ""} API (How to connect / How to configure / Routes (robeaux?) )
      %li 
        %a{:href => ""} CLI - Console (what / how to install / how to use it)
      %li 
        %a{:href => ""} Test Driven Robotics
      %li 
        %a{:href => ""} Helper Methods
      %li 
        %a{:href => ""} Communication with devices
      %li 
        %a{:href => ""} Generated documentation

  %dt 
    %a{:href => ""} Platforms
  %dd info 
  %dt 
    %a{:href => ""} Drivers
  %dd info 
  %dt 
    %a{:href => ""} Troubleshooting
  %dd info 
  %dt 
    %a{:href => ""} Contribute
  %dd info 

