---
page_title_show: true
layout: documentation
title: Documentation
page_title: Documentation
page_subtitle: Made by Humans, for Humans.
---

.index
  %section
    %a{href: '/documentation/getting-started'}
      .title Getting Started
      .description The best way to get started with Artoo.
  %section
    %a{href: '/documentation/examples'}
      .title Examples
      .description How to use Artoo with a number of hardware configurations.
  %section
    %a{href: '/documentation/platforms'}
      .title Platforms
      .description Artoo has a extensible system for connecting to hardware.

  %section
    %a{href: '/documentation/drivers'}
      .title Drivers
      .description Artoo supports many different hardware devices.
  %section
    %a{href: 'http://rubydoc.info/gems/artoo/frames'}
      .title Generated Documentation
      .description YARD-generated documentation
  %section
    %a{href: '/documentation/api'}
      .title API Server
      .description The Artoo WebSockets API Server
