---
page_title_show: true
layout: documentation
title: Documentation
page_title: Documentation
page_subtitle: Made by Humans, for Humans.
active_menu_docs: true
---

.index
  %h1 Welcome!
  %h4 Getting Started
  %p
    If you can't wait to get your hands on artoo, visit "Getting Started" to setup your environment
    and follow a step-by-step tutorial to start playing with our supported platforms.

  %h4 Guides
  %p
    Visit the Guides for more information about Artoo and it's amazing features.

  %h4 Platforms/Drivers
  %p
    You can get all the details about our supported devices on this sections.

  %h4 Troubleshooting
  %p
    Do you have trouble with something? Maybe you can find here an answer.

  %h4 Contribute
  %p
    Artoo exists thanks to the work of wonderful individuals, join us, we'd love your contribution too.

  %h4 Are me missing something?
  %p
    We are working hard to keep this documentation updated and relevant. Please
    %a{href: "https://github.com/hybridgroup/artoo/issues"}let us know
    if you find an error or if you can't find what you are looking for.




