---
layout: page
---

%h1 Documentation

.documentation
  .item
    %h4
      = link_to "Wiki", "https://github.com/hybridgroup/artoo/wiki"
    %p The core of the documentation Effort for Artoo.
  .item
    %h4
      = link_to "Tutorials", "https://github.com/hybridgroup/artoo/wiki/1.3.-Introduction-Tutorials"
    %p The tutorials are a great place to start if you aren’t familiar with Robotics. Here we'll explain some basic ideas to get you started with Artoo.
  .item
    %h4
      = link_to "Generated Documentation", "http://rubydoc.info/gems/artoo/frames"
    %p Finally, if you want to look at the Artoo implementation, check out the YARD Generated documentation.
