---
title: Documentation
page_title: Documentation
page_subtitle: Made by Humans, for Humans.
layout: page
---

.documentation
  %ol.index
    %li
      .link= link_to "Getting Started", "/documentation/getting-started"
      .description The best way to get going with Artoo.
    %li
      .link= link_to "Platforms", "/documentation/platforms"
      .description Artoo has a extensible system for connecting to hardware devices. 
    %li
      .link= link_to "Drivers", "/documentation/drivers"
      .description Which one do you like?
    %li
      .link= link_to "Generated Documentation", "http://rubydoc.info/gems/artoo/frames"
      .description YARD Generated Documentation.
