---
layout: documentation
page_title_show: true
title: "Artoo Example - force"
page_title: "Example: force"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-force/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :force, :adaptor => :force, 
          :username => ENV["SF_USERNAME"],
          :password => ENV["SF_PASSWORD"],
          :security_token => ENV["SF_SECURITY_TOKEN"],
          :client_id => ENV["SF_CLIENT_ID"],
          :client_secret => ENV["SF_CLIENT_SECRET"],
          :instance_url => ENV["SF_INSTANCE_URL"]
        device :force, :driver => :force, :connection => :capture

        work do
          force.query = 'SELECT id, Name, Sphero_Name__c, Content__c FROM Sphero_Message__c ORDER BY Name DESC LIMIT 10'
          on force , :query_results => proc { |*value|
            puts value[1].inspect
          }
        end

