:markdown
  # Events

  ## start_driver

  Start driver and any required connections.

  ## key

  Gets triggered when we press a key on the keyboard.

  - **keys supported** - up arrow, down arrow, left arrow, right arrow, esc and any alphanumeric characters.