# Artoo Adaptor For <%= adaptor_class_name %>

This repository contains the Artoo (http://artoo.io/) adaptor for <%= adaptor_class_name %>.

Artoo is a open source micro-framework for robotics using Ruby.

For more information abut Artoo, check out our repo at https://github.com/hybridgroup/artoo

## Installing

```
gem install artoo-<%= adaptor_name %>
```

## Using

```ruby
# your example code here...
```

## Connecting

Explain how to connect from the computer to the device here...
