.side-documentation {
  @include span-columns(3);

  .accordion-docs { 

    ul {

      list-style: none;

      .active-link {

        list-style: square;
        font-weight: bold;

        a {

          color: $hero-title-color;
        }
      }
    }

    dt, dd {
        padding: 10px;
        border-bottom: 0; 

        a {
          display: block;
          color: $hero-subtitle-color;
        }
    }

    dt {
      background-color: $title-color;
      border-bottom: 2px solid $body-bg-color;

      a {

        color: $hero-title-color;
      }
    }

    dd {
       border-top: 0; 
       margin-left: 0;
       background-color: $hero-color;
       color: $hero-subtitle-color;
       &:last-of-type {
         border-top: 1px solid white;
         position: relative;
         top: -1px;
       }
       ul {

        li {

          margin: 5px 0;

          a {

            font-size: 10pt;

            span {

              color: darken($body-bg-color,30);
            }
          }
        }
       }
    }
  }
}

.container-documentation {
  @include span-columns(9);
}
