.side-documentation {

  @include span-columns(3);
  background: darken($body-bg-color,2); 

  @media only screen and (max-width: $medium-screen) {

    @include span-columns(12);
    height: auto !important;
  }

  .accordion-docs { 

    ul {

      list-style: none;

      .active-link {

        list-style: square;
        font-weight: bold;

        a {

          color: darken($hero-color,30);
        }
      }
    }

    dt, dd {
        padding: 10px;
        border-bottom: 0; 

        a {
          display: block;
          color: $hero-color;
        }
    }

    dt {

      a {

        color: $title-color;
      }
    }

    dd {
       border-top: 0; 
       margin-left: 0;

       a {

        color: $hero-color;
       }
       

       &:last-of-type {
         position: relative;
         top: -1px;
       }

       ul {

        li {

          margin: 5px 0;

          a {

            font-size: 10pt;

            span {

              color: darken($hero-color,30);
            }
          }
        }
       }
    }
  }
}

.container-documentation {
  @include span-columns(9);
  
  @media only screen and (max-width: $medium-screen) {

    @include span-columns(12);
  }
}
