---
title: Artoo Test Driven Robotics
author: The Hybrid Group
page_title: Guides
page_subtitle: A Guide by Humans, for Humans.
layout: documentation
page_title_show: true
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#guides-panel").addClass("active-panel");
    $("#guides-panel ul li:nth-child(6)").addClass("active-link");
    $(".accordion-docs dt:nth-child(5) a:nth-child(2) img").addClass("rotate");
  
.test
  %h1 Test Driven Robotics
  %p Artoo makes it easy to do Test Driven Development (TDD) of your robotic devices using your favorite Ruby test and mocking frameworks.

  %p Here is an example that uses Minitest, Mocha, and Timecop:

  :markdown
        :::ruby
        require './test_helper'
        require './test_robot'

        describe 'sphero' do
          let(:robot) { Artoo::MainRobot.new }
          let (:start) { Time.now }

          before :each do
            Timecop.travel(start)
            robot.work
          end

          after :each do
            Timecop.return
          end

          it 'has work to do every 3 seconds' do
            robot.has_work?(:every, 3.seconds).wont_be_nil
          end

          it 'receives collision event' do
            robot.expects(:contact)
            robot.sphero.publish("collision", "clunk")
            sleep 0.05
          end

          it 'must roll every 3 seconds' do
            Timecop.travel(start + 3.seconds) do
              robot.sphero.expects(:roll)
              sleep 0.05
            end
            Timecop.travel(start + 6.seconds) do
              robot.sphero.expects(:roll)
              sleep 0.05
            end
          end
        end


  %p to describe the following Sphero robot:

  :markdown
        :::javascript
        require 'artoo'

        connection :sphero, :adaptor => :sphero, :port => '127.0.0.1:4560'
        device :sphero, :driver => :sphero

        def contact(*args)
          @contacts ||= 0
          @contacts += 1
          puts "Contact #{@contacts}"
        end

        work do
          on sphero, :collision => :contact

          every(3.seconds) do
            sphero.roll 90, rand(360)
          end
        end
  
  %p 
    The repo with full example of using Artoo for test driven robotics is located at 
    =link_to "https://github.com/hybridgroup/artoo-test-example", "https://github.com/hybridgroup/artoo-test-example", target: "blank"
    \.