:markdown
  # Commands

  ## set_value

  Sets a value for the Crazyflie.

  ##### Returns

  `nil` 

  ## start_get_value

  Gets a value from the Crazyflie.

  ##### Returns

  `integer` 

  ## toc

  Gets the toc from the Crazyflie.

  ##### Returns

  `integer` 

  ## values

  Gets the values from the Crazyflie.

  ##### Returns

  `integer` 

  ## log()

  Logs a value to the Crazyflie.

  ##### Returns

  `nil` 

  ## start_driver()

  Starts the driver.

  ##### Returns

  `nil` 