:markdown
  # Commands

  ## set_value()

  Public: Sets a value for the Crazyflie.

  ** Returns nil **

  ## start_get_value()

  Public: Gets a value from the Crazyflie.

  ** Returns integer **

  ## toc()

  Public: Gets the toc from the Crazyflie.

  ** Returns integer **

  ## values()

  Public: Gets the values from the Crazyflie.

  ** Returns integer **

  ## log()

  Public: Logs a value to the Crazyflie.

  ** Returns nil **

  ## start_driver()

  Public: Starts the driver.

  ** Returns nil **