:markdown
  # Commands

  ## start()

  Public: Starts the crazyfly's motors and controls.

  Returns nil

  ## stop()

  Public: Stops the crazyfly's motors.

  Returns nil

  ## hover()

  Public: Makes the crazyflie hover in a position.

  Returns nil

  ## land()

  Public: Initiates a landing sequence.

  Returns nil

  ## take_off()

  Public: Initiates take off sequence.

  Returns nil

  ## up()

  Public: Orders crazy flie to go up.

  Returns nil

  ## down()

  Public: Orders crazy flie to go down.

  Returns nil

  ## left(deg)

  Public: Orders crazyflie to go left the amount specified by deg (roll left).

  - **deg** - params 

  Returns nil

  ## right(deg)

  Public: Orders crazyflie to go right the amount specified by deg (roll right).

  - **deg** - params 

  Returns nil

  ## forward(deg)

  Public: Orders crazyflie to go forward the amount specified by deg (pitch forward).

  - **deg** - params 

  Returns nil

  ## backward(deg)

  Public: Orders crazyflie to go backward the amount specified by deg (pitch backward).

  - **deg** - params 

  Returns nil

  ## turn_left(deg)

  Public: Orders crazyflie to turn left the amount specified by deg (yaw left).

  - **deg** - params 

  Returns nil

  ## turn_right(deg)

  Public: Orders crazyflie to turn right the amount specified by deg (yaw right).

  - **deg** - params 

  Returns nil

  ## power(deg)

  Public: Sets thrust power to deg.

  - **deg** - params 

  Returns nil