---
layout: documentation
page_title_show: true
title: "Artoo Example - hello_pebble"
page_title: "Example: hello_pebble"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-pebble/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :pebble, :adaptor => :pebble
        device     :watch,  :driver  => :pebble, :name => 'pebble'

        api :host => '0.0.0.0', :port => '8080'

        name 'pebble'

        def button_push(*data)
          unless data[1].nil?
            p "\#{data[1]} button pushed"
          end
        end

        def tap_event(*data)
          p "Tap event detected"
        end

        work do
          pebble.send_notification("Hello Pebble!")
          on pebble, :button => :button_push
          on pebble, :tap    => :tap_event
        end

