:markdown
  # Events

  ## button_left_joystick

  Gets triggered every interval amount of time if a left joystick click event occured.

  ## button_right_joystick

  Gets triggered every interval amount of time if a right joystick click event occured.

  ## button_square

  Gets triggered every interval amount of time if the square button was pressed.

  ## button_x

  Gets triggered every interval amount of time if the 'x' button was pressed.

  ## button_circle

  Gets triggered every interval amount of time if the circle button was pressed.

  ## button_triangle

  Gets triggered every interval amount of time if the triangle button was pressed.

  ## button_l1

  Gets triggered every interval amount of time if the l1 button was pressed.

  ## button_l2

  Gets triggered every interval amount of time if the l2 button was pressed.

  ## button_r1

  Gets triggered every interval amount of time if the r1 button was pressed.

  ## button_r2

  Gets triggered every interval amount of time if the r2 button was pressed.

  ## button_start

  Gets triggered every interval amount of time if the start button was pressed.

  ## button_select

  Gets triggered every interval amount of time if the select button was pressed.

  ## button_home

  Gets triggered every interval amount of time if the home button was pressed.

  ## joystick

  Gets triggered every interval amount of time if a joystick event occured, you can access values x, y, s(joystick number, 0 and 1 for left and right).

  ## joystick_0

  Gets triggered every interval amount of time if a joystick_0 event occured, you can access values x, y.

  ## joystick_1

  Gets triggered every interval amount of time if a joystick_1 event occured, you can access values x, y.