:markdown
  # Events

  ## button_a

  Gets triggered every interval amount of time if the a button is pressed.

  ## button_b

  Gets triggered every interval amount of time if the b button is pressed.

  ## button_x

  Gets triggered every interval amount of time if the x button is pressed.

  ## button_y

  Gets triggered every interval amount of time if the y button is pressed.

  ## button_lb

  Gets triggered every interval amount of time if the left bumper button is pressed.

  ## button_rb

  Gets triggered every interval amount of time if the right bumper button is pressed.

  ## button_start

  Gets triggered every interval amount of time if the start button is pressed.

  ## button_back

  Gets triggered every interval amount of time if the back button is pressed.

  ## joystick

  Gets triggered every interval amount of time if a joystick event occured, you can access values x, y, s(joystick number, 0 and 1 for left and right).

  ## joystick_0

  Get's triggered every interval amount of time if a joystick_0 event occured, you can access values x, y.

  ## joystick_1

  Gets triggered every interval amount of time if a joystick_1 event occured, you can access values x, y.