---
page_title_show: true
title: Artoo Troubleshooting
author: The Hybrid Group
page_title: Troubleshooting
page_subtitle: "Some things that you can have trouble with."
layout: documentation
active_menu_docs: true
---

%h2 Socket To Serial Proxies

%h3 Using Socket To Serial Proxies

%p You will almost surely want to use a socket to serial proxy software to connect to hardware, instead of using serial port connections directly. Here are a few options that have been tested with Artoo on specific platforms:

%h4 Windows / Mac OSX
%h5 Tinkerproxy2

%p 
	= link_to "http://code.google.com/p/tinkerit/wiki/TinkerProxy", "http://code.google.com/p/tinkerit/wiki/TinkerProxy", target: :blank

%p Supports both Windows/OSX, but only tested on OSX so far. Command line utility, requires external configuration file. Does not support failover.

%p 
	You can follow this tutorial to test communication via firmata: [AS3_GLUE_TUTORIAL]
	= link_to "http://www.kasperkamperman.com/blog/arduino/arduino-flash-communication-as3/", "http://www.kasperkamperman.com/blog/arduino/arduino-flash-communication-as3/", target: :blank

%h4 Linux
%h5 Socat

%p 
	= link_to "http://www.dest-unreach.org/socat/", "http://www.dest-unreach.org/socat/", target: :blank

%p Flexible command line utility, all params can be passed via command line.

%p 
	= link_to "Windows version", "http://blog.gentilkiwi.com/programmes/socat#englishversion", target: :blank

%h6 Examples:
%p Arduino
:markdown
		$ socat -d -d -d TCP-LISTEN:8023,fork /dev/ttyACM0,raw,b57600,nonblock
%p Sphero
:markdown
		$ socat TCP-LISTEN:8023,fork /dev/rfcomm1,raw,b115200,echo=0

%h2 Ubuntu USB To Serial Interface
%h3 Ubuntu

%p By typing this command in terminal, validate that your board is seen by your computer:
:markdown
		dmesg
%p Verify that the USB port has the correct permissions:
:markdown
		ls -al /dev/ttyACM0
		sudo chmod 666 /dev/ttyACM0 
