:markdown
  # Events

  ## start_driver

  Starts the driver

  ## c_button

  Get's triggered every interval amount of time if the square button is pressed.

  ## z_button

  Get's triggered every interval amount of time if the square button is pressed.

  ## joystick

  Get's triggered every "interval" amount of time if a joystick event occured, you can access values `x`, `y.`