:markdown
  # Events

  ## start_driver

  Starts the driver

  ## a_button

  Get's triggered every interval amount of time if the a button is pressed.

  ## b_button 

  Get's triggered every interval amount of time if the b button is pressed.

  ## x_button

  Get's triggered every interval amount of time if the x button is pressed.

  ## y_button

  Get's triggered every interval amount of time if the y button is pressed.

  ## home_button

  Get's triggered every interval amount of time if the home button is pressed.

  ## select_button

  Get's triggered every interval amount of time if the select button (-) is pressed.

  ## start_button

  Get's triggered every interval amount of time if the start button (+) is pressed.

  ## right_trigger

  Get's triggered every interval amount of time if the right trigger button is pressed, makes right trigger value available.

  ## left_trigger

  Get's triggered every interval amount of time if the left trigger button is pressed, makes left trigger value available.

  ## left_joystick

  Get's triggered every "interval" amount of time if a left joystick event occured, you can access values `x`, `y`.

  ## right_joystick

  Get's triggered every "interval" amount of time if a right joystick event occured, you can access values `x`, `y`.