---
page_title_show: true
title: Blog
description: Artoo blog entries.
layout: blog
page_title: Blog
---

- page_articles.each_with_index do |article, i|
  = partial "article", locals: {article: article}
