---
layout: blog
title: Blog
author: The Hybrid Group
description: Artoo blog entries.
---

%h1
  Articles tagged:
  = tagname

- page_articles.each_with_index do |article, i|
  = partial "/blog/article", locals: {article: article}
