:markdown
  # Events

  ## start_driver

  Starts the driver.

  ## on_open

  Gets triggered when the leapmotion is opened.

  ## on_message(data)

  Gets triggered when the leapmotion have a message.

  - **data** - params

  ## on_close(code, reason)

  Gets triggered when the leapmotion is closed.

  - **code** - params
  - **reason** - params

  ## hand

  Gets triggered when doing a hand motion, makes hand input available.

  ## gesture

  Gets triggered when doing a gesture motion, makes hand input available.

  ## pointable

  Gets triggered when doing a pointable motion, makes hand input available.

  ## frame

  Gets triggered with every motion detected, makes frame input available.
