---
layout: documentation
page_title_show: true
title: "Artoo Example - motor"
page_title: "Example: motor"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-arduino/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        leg1_pin = 7  # digital pin
        leg2_pin = 4  # digital pin
        speed_pin = 3 # PWM pin

        speed = 0
        forward = true

        connection :firmata, :adaptor => :firmata, :port => '/dev/ttyACM0' #linux
        #connection :firmata, :adaptor => :firmata, :port => '127.0.0.1:8023'
        device :board, :driver => :device_info
        device :motor, :driver => :motor, :pin => [leg1_pin, leg2_pin, speed_pin]

        work do
          puts "Firmware name: \#{board.firmware_name}"
          puts "Firmata version: \#{board.version}"

          every(0.1)do
            forward ? motor.forward(speed) : motor.backward(speed)
            speed += 10
            if speed >= 255
              speed = 0
              forward = (not forward)
              sleep 1 # give the motor some time to stop inertia
            end
          end
        end

