---
layout: page
---

:markdown
  ## The DSL
  Artoo’s simple DSL makes telling robots what to do incredibly simple and fun.  
      
  All you need to get started is the `artoo` gem  

      require artoo

   Then hook it up to your robot (in this case, a [Sphero](http://gosphero.com)): 

      connection :sphero, :adaptor => :sphero, :port => '4560'  
      device :sphero, :driver => :sphero

  And tell it what to do!

      work do
        every(3.seconds) do
          puts "Rolling..."
          sphero.roll 60, rand(360)
        end
      end
