---
layout: home
hero: true
title: Artoo
author: The Hybrid Group
description: Artoo is a micro-framework for robotics. It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.
---

.social
  .splitter
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=hybridgroup&repo=artoo&type=watch&count=true", :width => "95"}
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=hybridgroup&repo=artoo&type=fork&count=true", :width => "95"}
  .splitter
    %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Ruby on Robots!", "data-url" => "http://artoo.io", "data-via" => "artooio", :href => "https://twitter.com/share"} Tweet
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    %a.twitter-follow-button{"data-dnt" => "true", "data-show-count" => "false", :href => "https://twitter.com/artooio"} Follow @artooio
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

:markdown
  ## About
  Artoo is a micro-framework for robotics.

  It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.

  With Artoo, you can easily connect multiple, different hardware devices together into a single solution.

:markdown
  ## Meet the DSL
  Artoo’s simple DSL makes telling robots what to do incredibly simple and fun.

  All you need to get started is the `artoo` gem

      :::ruby
      require 'artoo'

   Then hook it up to your robot (in this case, a [Sphero](http://gosphero.com)):

      :::ruby
      connection :sphero, adaptor: :sphero, port: '4560'
      device :sphero, driver: :sphero

  And tell it what to do!

      :::ruby
      work do
        every(3.seconds) do
          puts "Rolling..."
          sphero.roll 60, rand(360)
        end
      end

%section.videos
  %h2 Artoo in Action
  <object type="application/x-shockwave-flash" id="clip_embed_player_flash" data="http://www-cdn.justin.tv/widgets/archive_embed_player.swf" bgcolor="#000000"><param name="movie" value="http://www-cdn.justin.tv/widgets/archive_embed_player.swf" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="allowFullScreen" value="true" /><param name="flashvars" value="auto_play=false&start_volume=25&title=Title&channel=confreaks&chapter_id=2250467" /></object>
  %iframe{:src => "http://www.youtube.com/embed/GqHqRSTIqQI", :frameborder => "0", :allowfullscreen => "true"}
  %iframe{:src => "http://www.youtube.com/embed/VjIi32jsnH4", :frameborder => "0", :allowfullscreen => "true"}
