---
layout: home
hero: true
title: Artoo
author: The Hybrid Group
description: Artoo is a micro-framework for robotics. It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.
---

:markdown
  ## About
  Artoo is a micro-framework for robotics.
  It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.
%section.videos
  %h2 Videos!
  %iframe{:src => "http://www.youtube.com/embed/GqHqRSTIqQI", :frameborder => "0", :allowfullscreen => "true"}
  %iframe{:src => "http://www.youtube.com/embed/VjIi32jsnH4", :frameborder => "0", :allowfullscreen => "true"}
