---
layout: home
hero: true
social: true
title: Artoo
author: The Hybrid Group
description: Artoo is a micro-framework for robotics. It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.
---

:markdown
  ## About
  Artoo is a micro-framework for robotics.

  It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.

  With Artoo, you can easily connect multiple, different hardware devices together into a single Ruby-powered robotic solution.

:markdown
  ## Meet The Code
  Artoo’s simple code makes telling robots what to do incredibly simple and fun.

  All you need to get started is the `artoo` gem

      :::ruby
      require 'artoo'

   Then hook it up to your robot (in this case, a [Sphero](http://gosphero.com)):

      :::ruby
      connection :sphero, adaptor: :sphero, port: '4560'
      device :sphero, driver: :sphero

  And tell it what to do!

      :::ruby
      work do
        every(3.seconds) do
          puts "Rolling..."
          sphero.roll 60, rand(360)
        end
      end

%section.videos
  %h2 Artoo in Action
  <object type="application/x-shockwave-flash" id="clip_embed_player_flash" data="http://www-cdn.justin.tv/widgets/archive_embed_player.swf" bgcolor="#000000"><param name="movie" value="http://www-cdn.justin.tv/widgets/archive_embed_player.swf" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="allowFullScreen" value="true" /><param name="flashvars" value="auto_play=false&start_volume=25&title=Title&channel=confreaks&chapter_id=2250467" /></object>
  .more-videos
    = link_to "More Videos", "/videos"
