---
hero: true
social: true
catcher: true


title: Artoo
author: The Hybrid Group
description: Artoo is a micro-framework for robotics. It provides a simple, but powerful DSL (domain-specific language) for robots and physical computing.
layout: home

hero_title: "We believe that it's time to bring <br> Ruby and Robots together."
hero_subtitle: "Artoo makes robotics <a href='/documentation/getting-started'>Simple</a> and <a href='/documentation/platforms'>Extensible</a>"

catcher_phrase: Ready to build the next big thing with Ruby?
getting_started_button: "<a href='/documentation/getting-started' class='cta'> Get Started</a>"
---

= partial "/hybridpages/partials/widgets/about"

= partial "/hybridpages/partials/widgets/hardware-support"

= partial "/hybridpages/partials/widgets/extras"

