---
page_title_show: true
title: Artoo Tutorials
author: The Hybrid Group
page_title: Getting Started
page_subtitle: A Guide by Humans, for Humans.
layout: documentation
active_menu_docs: true
---
-content_for :js_accordeon do
  :javascript
    $("#getting-panel").addClass("active-panel");
    $("#getting-panel ul li:nth-child(3)").addClass("active-link");
    $(".accordion-docs dt:nth-child(3) a:nth-child(2) img").addClass("rotate");

%section.intro
  %h1 Tutorial - Sphero changes color
  %h3 Welcome!

  %p After completing this tutorial, you will be familiar with the most important concepts needed to play with artoo and sphero. If you are new to this world, don't worry; this tutorial should cover all you need to make it work.

  %ul 
    %li 
      Before we start, be sure to have 
      = link_to "ruby and artoo installed." , "/documentation/getting-started", target: :blank
    %li You should have Bluetooth in your computer.
    %li 
      :markdown
        install artoo sphero gem: `gem install artoo-sphero`

    %li 
      :markdown
        install serialport gem: `gem install hybridgroup-serialport`

  %h3 Pair your sphero device via Bluetooth
  %h4 MacOSX

  %ul 
    %li Turn on your Sphero by shaking it.
    %li Go to Mac OS Bluetooth preferences, click “Set Up New Device”, and follow the onscreen instructions to set up your sphero.

  %h4 Ubuntu

  %ul
    %li Turn on your Sphero by shaking it,
    %li Click on the Bluetooth notification icon, make sure Bluetooth is ON, and click "Set Up new Device".
    %li Select the Sphero from the Bluetooth list of devices and follow the on-screen instructions to connect the Bluetooth device.

  %h3 Communicate with your device

  %h4 MacOSX

  %ul
    %li Find out serial port address by running this command:
    %li
      :markdown
            :::bash
            ls /dev/tty.Sphero*

  %h4 Ubuntu
  %ul
    %li
      Run this command to look for it:
      :markdown
            artoo connect scan
    %li 
      You will see the following output:
      :markdown
            Scanning ...
            00:06:66:44:39:C6   Sphero-YBW
    %li 
      Use that output to bind your device by name running this command:
      :markdown
            artoo connect bind 00:06:66:44:39:C6 Sphero-YBW

  %h3 Run artoo program

  %ul 
    %li
      Download
      = link_to "color example.","https://github.com/hybridgroup/artoo/blob/master/examples/sphero_color.rb", target: :blank
    %li Open a new terminal .
    %li 
      Navigate to the directory where you put the example file:
      :markdown
            cd Downloads
    %li 
      You will need to change the port to the device port
      :markdown
            connection :sphero, :adaptor => :sphero, :port => '/dev/Sphero-YBW'
    %li 
      run example
      :markdown
            ruby sphero_color.rb

  %p Sphero should be changing colors through the rainbow and moving around.

  %p
    %strong Congratulations you have completed succesfully this tutorial.
