---
layout: documentation
page_title_show: true
title: "Artoo Example - sphero_messages"
page_title: "Example: sphero_messages"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-sphero/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :sphero, :adaptor => :sphero, :port => '/dev/rfcomm0' #linux
        #connection :sphero, :adaptor => :sphero, :port => '127.0.0.1:4567'
        device :sphero, :driver => :sphero

        def contact(*args)
          @contacts ||= 0
          @contacts += 1
          puts "Contact \#{@contacts}"
        end

        work do
          on sphero, :collision => :contact

          every(3.seconds) do
            puts "Rolling..."
            sphero.roll 90, rand(360)
          end
        end

